{% extends "base.html" %}
{% block title %}BASE Contextual Site Detail {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="alert alert-info">
        Note that a value of 0.0001 typically indicates a below-threshold reading. A empty cell indicates no data.
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">BASE Chemical Analysis Detail for Sample {{ ca.bpa_id }}</div>

        <table id="nice" class="table">
            <tbody>
            <tr>
                <td>BPA ID</td>
                <td>{{ca.bpa_id}}</td>
            </tr>
            <tr>
                <td>Soil Depth</td>
                <td>{{ca.depth}}</td>
            </tr>
            <tr>
                <td>Soil Moisture</td>
                <td>{{ca.moisture}}</td>
            </tr>
            <tr>
                <td>Soil Colour</td>
                <td>{{ca.colour}}</td>
            </tr>
              <tr>
                <td>Soil Texture</td>
                <td>{{ca.texture}}</td>
            </tr>
            <tr>
                <td>% Gravel</td>
                <td>{{ca.gravel}}</td>
            </tr>
            <tr>
                <td>% Course Sand</td>
                <td>{{ca.course_sand}}</td>
            </tr>
            <tr>
                <td>% Fine Sand</td>
                <td>{{ca.fine_sand}}</td>
            </tr>
            <tr>
                <td>% Sand</td>
                <td>{{ca.sand}}</td>
            </tr>
            <tr>
                <td>% Silt</td>
                <td>{{ca.silt}}</td>
            </tr>
            <tr>
                <td>% Clay</td>
                <td>{{ca.clay}}</td>
            </tr>
            <tr>
                <td>Ammonium Nitrogen (NH<sub>3</sub>-N)</td>
                <td>{{ca.ammonium_nitrogen}}</td>
            </tr>
            <tr>
                <td>Nitrate Nitrogen (NO<sub>3</sub><sup>−</sup>)</td>
                <td>{{ca.nitrate_nitrogen}}</td>
            </tr>
            <tr>
                <td>Colwell Phosphorous</td>
                <td>{{ca.phosphorus_colwell}}</td>
            </tr>
            <tr>
                <td>Colwell Potassium</td>
                <td>{{ca.potassium_colwell}}</td>
            </tr>
            <tr>
                <td>Sulphur</td>
                <td>{{ca.sulphur}}</td>
            </tr>
            <tr>
                <td>Organic Carbon</td>
                <td>{{ca.organic_carbon}}</td>
            </tr>
            <tr>
                <td>Conductivity</td>
                <td>{{ca.conductivity}}</td>
            </tr>
            <tr>
                <td>CaCl<sub>2</sub> pH</td>
                <td>{{ca.cacl2_ph}}</td>
            </tr>
            <tr>
                <td>H<sub>2</sub>O pH</td>
                <td>{{ca.h20_ph}}</td>
            </tr>
            <tr>
                <td>DTPA Copper</td>
                <td>{{ca.dtpa_copper}}</td>
            </tr>
            <tr>
                <td>DTPA Iron</td>
                <td>{{ca.dtpa_iron}}</td>
            </tr>
            <tr>
                <td>DTPA Manganese</td>
                <td>{{ca.dtpa_manganese}}</td>
            </tr>
            <tr>
                <td>DTPA Zinc</td>
                <td>{{ca.dtpa_zinc}}</td>
            </tr>
            <tr>
                <td>Exc Aluminium</td>
                <td>{{ca.exc_aluminium}}</td>
            </tr>
            <tr>
                <td>Exc Calcium</td>
                <td>{{ca.exc_calcium}}</td>
            </tr>
            <tr>
                <td>Exc Magnesium</td>
                <td>{{ca.exc_magnesium}}</td>
            </tr>
            <tr>
                <td>Exc Potassium</td>
                <td>{{ca.exc_potassium}}</td>
            </tr>
            <tr>
                <td>Exc Sodium</td>
                <td>{{exc_sodium}}</td>
            </tr>
            <tr>
                <td>Boron Hot CaCl<sub>2</sub></td>
                <td>{{ca.boron_hot_cacl2}}</td>
            </tr>
            <tr>
                <td>Total Nitrogen</td>
                <td>{% if ca.total_nitrogen %} {{ca.total_nitrogen}} {% endif %} </td>
            </tr>
            <tr>
                <td>Total Carbon</td>
                <td>{% if ca.total_carbon %} {{ca.total_carbon}} {% endif %}</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
