{% extends "base.html" %}
{% load leaflet_tags %}
{% block title %}BASE Contextual Site Detail {% endblock %}


{% block content %}

    <h3>BASE Collection Site {{ collectionsite.location_name }}</h3>


    <script type="text/javascript">
        function map_init_basic(map, options) {
            var latlng = L.latLng({{ collectionsite.lat }}, {{ collectionsite.lon }});
            L.marker(latlng).addTo(map);
            map.panTo(latlng);
        }
    </script>
    {% leaflet_map "site_map" callback="window.map_init_basic" %}

    <h3>Raw Data</h3>
    <table id="key-vals" class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in collectionsite.get_fields %}
            <tr>
                <td> {{ key }} </td>
                <td> {{ value }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

