<table id="sitelist" class="table table-striped tablesorter">
    <thead>
    <tr>
        <th>Location Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>Current Land Use</th>
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
        <tr>
            <td>
                {% if site.location_name %}
                    <a href="{% url 'basecontextual:collectionsitedetail' site.pk %}">{{ site.location_name }}</a>
                {% endif %}
            </td>
            <td>{{ site.lat }}</td>
            <td>{{ site.lon }}</td>
            <td>{% if site.elevation %} {{ site.elevation }} {% endif %}</td>
            <td>{% if site.current_land_use %} {{ site.current_land_use }} {% endif %} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(function () {
            $("#sitelist").tablesorter();
        });
    });
</script>
