<table id="sitelist" class="ccgtable" width="100%">
<thead>
    <tr>
        <th class="name">Location Name</th>
        <th class="lat">Latitude</th>
        <th class="lng">Longitude</th>
        <th class="ele">Elevation</th>
        <th class="landuse">Current Land Use</th>
    </tr>
</thead>
<tbody>
    {% for site in sites %}
    <tr>
        <td class="name">
            <a href="{% url 'base_contextual:collectionsitedetail' site.pk %}">{{ site.get_location_name }}</a>
        </td>
        <td class="lat">{{ site.lat }}</td>
        <td class="lng">{{ site.lon }}</td>
        <td class="ele">{% if site.elevation %} {{ site.elevation }} {% endif %}</td>
        <td class="landuse">{% if site.current_land_use %} {{ site.current_land_use }} {% endif %}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

