{% extends "base.html" %}

{% block title %}BASE Contextual Data {% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>BASE Contextual Data</h2>

        <div class="list-group">
            <a class="list-group-item" href="{% url 'samples' %}">All Samples</a>
            <a class="list-group-item" href="{% url 'collectionsites' %}">All Sites</a>
            <a class="list-group-item" href="{% url 'chemicalanalysis' %}">All Chemical Analysis</a>
        </div>
    </div>
{% endblock %}
