{% extends "base.html" %}
{% block title %}BASE Contextual Site Detail {% endblock %}


{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">BASE Collection Sample Detail for sample {{ collectionsample.bpa_id }}</div>

        <table id="nice" class="table">
            <tbody>
            <tr>
                <td><b>Site</b></td>
                <td>
                    <a href="{% url 'basecontextual:collectionsitedetail' collectionsample.site.pk %}">{{ collectionsample.site.get_location_name }}</a>
                </td>
            </tr>
            <tr>
                <td><b>Horizon Classification 1</b></td>
                <td>{{ collectionsample.horizon_classification1 }}</td>
            </tr>
            <tr>
                <td><b>Horizon Classification 2</b></td>
                <td>{{ collectionsample.horizon_classification2 }}</td>
            </tr>
            <tr>
                <td><b>Depth</b></td>
                <td>{{ collectionsample.depth }}</td>
            </tr>
            <tr>
                <td><b>Methodological Notes</b></td>
                <td>{{ collectionsample.methodological_notes }}</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}

