{% extends "base.html" %}

{% block title %}Sample Data{% endblock %}

{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "BASE" "base:index" %}
{% breadcrumb "Samples" "base_contextual:samples" %}
{% endblock %}
{% if records %}

<style>
    #spinner {
        width: 150px;height: 150px;
        -webkit-animation: sweep 1s infinite linear;
        border-radius:75px;
        border-bottom:5px solid blue;
    }
    @-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }
</style>

<div class="container-fluid">
    <h3><a href="{% url 'base:index'%}">BASE</a> All Sample Data ({{records|length}} Records) </h3>

    <p><a href="{% url 'base_contextual:samplematrix_csv'%}"><span class="glyphicon glyphicon-download"></span> CSV Export</a> </p>

    {% include "base_contextual/sample_matrix_table.html" %}
    {% include "pagination.html" %}

    <p><a href="{% url 'base_contextual:samplematrix_csv'%}"><span class="glyphicon glyphicon-download"></span> CSV Export</a> </p>
</div>

{% else %}
<h3> No Sample Data is currently available </h3>
{% endif %}

{% endblock %}
