
<table id="contextsamples" class="table table-striped tablesorter">
    <thead>
    <tr>
        <th>BPA ID</th>
        <th>Collection Site</th>
        <th>Horizon Classifications</th>
        <th>Depth</th>
        <th>Methodological Notes</th>
    </tr>
    </thead>
    <tbody>
    {% for context in sample_contexts %}
    <tr>
        <td>
            <a href="{% url 'basecontextual:sampledetail' context.pk %}">{{ context.bpa_id }}</a>
        </td>
        <td>
            {% if context.site %}
            <a href="{% url 'basecontextual:collectionsitedetail' context.site.pk %}">
                {{ context.site.get_location_name }}</a>
            {% endif %}
        </td>
        <td>{{ context.get_horizon_description }}</td>
        <td>{{ context.depth }}</td>
        <td>{{ context.methodological_notes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(function () {
            $("#contextsamples").tablesorter();
        });
    });
</script>

