{% extends "base.html" %}
{% block title %}BASE Contextual Site Detail {% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>
                        BASE Contextual Detail for
                        <a href="{% url 'base_metagenomics:sample' samplecontext.bpa_id %}">
                            {{ samplecontext.bpa_id }}
                        </a>
                    </h3>
                </div>

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td><b>Site</b></td>
                        <td>{% if samplecontext.site %}
                            <a href="{% url 'base_contextual:collectionsitedetail' samplecontext.site.pk %}">
                                {{ samplecontext.site.get_location_name }}
                            </a>
                            {% else %}
                            No Site
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Horizon Classification 1</b></td>
                        <td>{{ samplecontext.horizon_classification1 }}</td>
                    </tr>
                    <tr>
                        <td><b>Horizon Classification 2</b></td>
                        <td>{{ samplecontext.horizon_classification2 }}</td>
                    </tr>
                    <tr>
                        <td><b>Depth</b></td>
                        <td>{{ samplecontext.depth }}</td>
                    </tr>
                    <tr>
                        <td><b>Storage</b></td>
                        <td>{{ samplecontext.storage}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            {% include "base_contextual/chemicalanalysis_detail_container.html" %}
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                {% include "base_contextual/collectionsite_detail_table.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

