<style type="text/css">
    .popover{
        max-width:600px;
    }
</style>

<div class="alert alert-info" role="alert">
    Note that a value of 0.0001 typically indicates a below-threshold reading. 

<a href="#"
    role="button"
    class="btn popovers"
    data-toggle="popover"
    title="Detection limits"
    data-trigger="focus"
    data-html="true"
    data-container="body"
    data-content=' 
    
    <table class="table table-bordered">
        <tr>
            <td>Test</td>
            <td>Analyte</td>
            <td>Reporting Limit</td>
        </tr>
        <tr>
            <td> COLWELL P+K </td>
            <td> P </td>
            <td> 2 </td>
        </tr>
        <tr>
            <td></td>
            <td>K</td>
            <td>15</td>
        </tr>
        <tr>
            <td> PH, EC </td>
            <td> PH </td>
            <td> 2DP </td>
        </tr>
        <tr>
            <td></td>
            <td> Electrical Conductivity</td>
            <td> 0.01 </td>
        </tr>
        <tr>
            <td> NITRATE, AMMONIUM</td>
            <td> NH4</td>
            <td>1 </td>
        </tr>
        <tr>
            <td></td>
            <td>NO3</td>
            <td>1</td>
        </tr>
        <tr>
            <td> ORGANIC CARBON </td>
            <td> OC% </td>
            <td> 0.05 </td>
        </tr>
        <tr>
            <td>SULPHUR KCL40</td>
            <td>S</td>
            <td>0.5</td>
        </tr>
        <tr>
            <td> DTPA TRACE ELEMENTS</td>
            <td> CU </td>
            <td> 0.01 </td>
        </tr>
        <tr>
            <td></td>
            <td>ZN</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td></td>
            <td>MN</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td></td>
            <td>FE</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Exchangeable Cations (without Pre-wash) AL  0.001 </td>
            <td>AL</td>
            <td>0.001</td>
        </tr>
        <tr>
            <td></td>
            <td>CA</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td></td>
            <td>MG</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td></td>
            <td>K</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td></td>
            <td>NA</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td>BORON</td>
            <td>B</td>
            <td>0.1</td>
        </tr>
    </table>
   '>
    <span class="glyphicon glyphicon-info-sign"></span>
       Detection limits
    </a>

    <p>A empty cell indicates no data. To sort by multiple columns, press and hold the Shift key.</p>
    
    <div class="bootstrap_buttons">
        <button type="button" class="reset btn" data-column="0" data-filter="">
            <i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i>
            Reset filters
        </button>
    </div>
</div>

<table  class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Collection Site</th>
            <th>Date Sampled</th>
            <th>Soil Depth (cm)</th>
            <th class="filter-select filter-exact" data-placeholder="Horizon">Horizon</th>
            <th class="filter-select filter-exact" data-placeholder="Storage">Storage</th>
            <th class="filter-select filter-exact" data-placeholder="Broad Land Use">Broad Land Use</th>
            <th class="filter-select filter-exact" data-placeholder="Detailed Land Use">Detailed Land Use</th>
            <th class="filter-select filter-exact" data-placeholder="Ecological Zone">Ecological Zone</th>
            <th class="filter-select filter-exact" data-placeholder="Vegetation Type">Vegetation Type</th>
            <th>Vegetation Cover</th>
            <th>Elevation</th>
            <th>Slope</th>
            <th>Slope Aspect</th>
            <th>Profile Position</th>
            <th class="filter-select filter-exact" data-placeholder="Australian Soil Classification">Australian Soil Classification</th>
            <th class="filter-select filter-exact" data-placeholder="FAO Soil Classification">FAO Soil Classification</th>
            <th>Immediate Previous Land Use</th>
            <th>Date since change in Land Use</th>
            <th>Crop Rotation 1 year since present</th>
            <th>Crop Rotation 2 years since present</th>
            <th>Crop Rotation 3 years since present</th>
            <th>Crop Rotation 4 years since present</th>
            <th>Crop Rotation 5 years since present</th>
            <th>Agrochemical Additions</th>
            <th class="filter-select filter-exact" data-placeholder="Tillage">Tillage</th>
            <th>Fire History</th>
            <th>Fire Intensity</th>
            <th>Flooding</th>
            <th>Extreme Events</th>
            <th>Moisture</th>
            <th class="filter-select filter-exact" data-placeholder="Colour">Colour</th>
            <th>Gravel</th>
            <th>Texture</th>
            <th>Course Sand</th>
            <th>Fine Sand</th>
            <th>Sand</th>
            <th>Silt</th>
            <th>Clay</th>
            <th>NH<sub>3</sub>-N</th>
            <th>NO<sub>3</sub><sup>−</sup></th>
            <th>Colwell P</th>
            <th>Colwell K</th>
            <th>Sulphur</th>
            <th>Organic Carbon</th>
            <th>Conductivity</th>
            <th>CaCl<sub>2</sub> pH</th>
            <th>H<sub>2</sub>O pH</th>
            <th>DTPA Cu</th>
            <th>DTPA Fe</th>
            <th>DTPA Mn</th>
            <th>DTPA Zn</th>
            <th>Exc Al</th>
            <th>Exc Ca</th>
            <th>Exc Mg</th>
            <th>Exc K</th>
            <th>Exc Na</th>
            <th>B Hot CaCl<sub>2</sub></th>
            <th>Total N</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            <td>
                <a href="{% url 'base_contextual:sampledetail' bpa_id=record.bpa_id %}">{{ record.bpa_id }}</a>
            </td>
            <td>
                {% if record.site %}
                <a href="{% url 'base_contextual:collectionsitedetail' record.site.pk %}">
                    {{ record.site.get_location_name }}</a>
                {% endif %}
            </td>
            <td>{{ record.site.date_sampled | default:"" }}</td>
            <td>{{ record.depth }}</td>
            <td>{{ record.get_horizon_description }}</td>
            <td>{{ record.storage }}</td>
            <td>{{ record.site.broad_land_use }}</td>
            <td>{{ record.site.current_land_use }}</td>
            <td>{{ record.site.general_ecological_zone }}</td>
            <td>{{ record.site.vegetation_type.vegetation }}</td>
            <td>{{ record.site.vegetation_total_cover }}</td>
            <td>{{ record.site.elevation }}</td>
            <td>{{ record.site.slope }}</td>
            <td>{{ record.site.slope_aspect }}</td>
            <td>{{ record.site.profile_position | default:"" }}</td>
            <td>
                {% if record.site.soil_type_australian_classification %}
                <a href="https://www.google.com.au/search?q={{ record.site.soil_type_australian_classification }}+soil+australia">
                    {{ record.site.soil_type_australian_classification }}
                </a>
                {% endif %}
            </td>
            <td>{{ record.site.soil_type_fao_classification | default:"" }}</td>
            <td>{{ record.site.immediate_previous_land_use | default:"" }}</td>
            <td>{{ record.site.date_since_change_in_land_use | default:"" }}</td>
            <td>{{ record.site.crop_rotation_1| default:"" }}</td>
            <td>{{ record.site.crop_rotation_2| default:"" }}</td>
            <td>{{ record.site.crop_rotation_3| default:"" }}</td>
            <td>{{ record.site.crop_rotation_4| default:"" }}</td>
            <td>{{ record.site.crop_rotation_5| default:"" }}</td>
            <td>{{ record.site.agrochemical_additions | default:"" }}</td>
            <td>{{ record.site.tillage | default:"" }}</td>
            <td>{{ record.site.fire_history | default:"" }}</td>
            <td>{{ record.site.fire_intensity | default:"" }}</td>
            <td>{{ record.site.flooding | default:"" }}</td>
            <td>{{ record.site.environment_event | default:"" }}</td>
            <td>{{ record.analysis.moisture | default:"" | floatformat:3 }}</td>
            <td>{{ record.analysis.colour| default:"" }}</td>
            <td>{{ record.analysis.gravel| default:"" }}</td>
            <td>{{ record.analysis.texture| default:"" | floatformat }}</td>
            <td>{{ record.analysis.course_sand| default:"" | floatformat }}</td>
            <td>{{ record.analysis.fine_sand| default:"" | floatformat }}</td>
            <td>{{ record.analysis.sand| default:"" }}</td>
            <td>{{ record.analysis.silt| default:"" }}</td>
            <td>{{ record.analysis.clay| default:"" }}</td>
            <td>{{ record.analysis.ammonium_nitrogen| default:"" }}</td>
            <td>{{ record.analysis.nitrate_nitrogen| default:"" }}</td>
            <td>{{ record.analysis.phosphorus_colwell| default:"" }}</td>
            <td>{{ record.analysis.potassium_colwell| default:"" }}</td>
            <td>{{ record.analysis.sulphur| default:"" }}</td>
            <td>{{ record.analysis.organic_carbon| default:"" }}</td>
            <td>{{ record.analysis.conductivity| default:"" }}</td>
            <td>{{ record.analysis.cacl2_ph| default:"" }}</td>
            <td>{{ record.analysis.h20_ph| default:"" }}</td>
            <td>{{ record.analysis.dtpa_copper| default:"" }}</td>
            <td>{{ record.analysis.dtpa_iron| default:"" }}</td>
            <td>{{ record.analysis.dtpa_manganese | default:""}}</td>
            <td>{{ record.analysis.dtpa_zinc| default:"" }}</td>
            <td>{{ record.analysis.exc_aluminium | default:""}}</td>
            <td>{{ record.analysis.exc_calcium| default:"" }}</td>
            <td>{{ record.analysis.exc_magnesium| default:"" }}</td>
            <td>{{ record.analysis.exc_potassium| default:"" }}</td>
            <td>{{ record.analysis.exc_sodium| default:"" }}</td>
            <td>{{ record.analysis.boron_hot_cacl2| default:"" }}</td>
            <td>{{ record.analysis.total_nitrogen| default:"" }}</td>
        </tr>
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Collection Site</th>
            <th>Date Sampled</th>
            <th>Soil Depth (cm)</th>
            <th>Horizon</th>
            <th>Storage</th>
            <th>Broad Land Use</th>
            <th>Detailed Land Use</th>
            <th>Ecological Zone</th>
            <th>Vegetation Type</th>
            <th>Vegetation Cover</th>
            <th>Elevation</th>
            <th>Slope</th>
            <th>Slope Aspect</th>
            <th>Profile Position</th>
            <th>Australian Soil Classification</th>
            <th>FAO Soil Classification</th>
            <th>Immediate Previous Land Use</th>
            <th>Date since change in Land Use</th>
            <th>Crop Rotation 1 year since present</th>
            <th>Crop Rotation 2 years since present</th>
            <th>Crop Rotation 3 years since present</th>
            <th>Crop Rotation 4 years since present</th>
            <th>Crop Rotation 5 years since present</th>
            <th>Agrochemical Additions</th>
            <th>Tillage</th>
            <th>Fire History</th>
            <th>Fire Intensity</th>
            <th>Flooding</th>
            <th>Extreme Events</th>
            <th>Moisture</th>
            <th>Colour</th>
            <th>Gravel</th>
            <th>Texture</th>
            <th>Course Sand</th>
            <th>Fine Sand</th>
            <th>Sand</th>
            <th>Silt</th>
            <th>Clay</th>
            <th>NH<sub>3</sub>-N</th>
            <th>NO<sub>3</sub><sup>−</sup></th>
            <th>Colwell P</th>
            <th>Colwell K</th>
            <th>Sulphur</th>
            <th>Organic Carbon</th>
            <th>Conductivity</th>
            <th>CaCl<sub>2</sub> pH</th>
            <th>H<sub>2</sub>O pH</th>
            <th>DTPA Cu</th>
            <th>DTPA Fe</th>
            <th>DTPA Mn</th>
            <th>DTPA Zn</th>
            <th>Exc Al</th>
            <th>Exc Ca</th>
            <th>Exc Mg</th>
            <th>Exc K</th>
            <th>Exc Na</th>
            <th>B Hot CaCl<sub>2</sub></th>
            <th>Total N</th>
        </tr>
        <tr>
            <th colspan="59" class="ts-pager form-horizontal">
                <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                <select class="pagesize input-mini" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
                <select class="pagenum input-mini" title="Select page number"></select>
            </th>
        </tr>
    </tfoot>
</table>


<script>
    $('[data-toggle="popover"]').popover({
        container: 'body'
    });
</script>
