<div class="panel panel-default">
    <div class="table-responsive">
        <table id="matrix" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>BPA ID</th>
                    <th>Collection Site</th>
                    <th>Horizon</th>
                    <th>Ecological Zone</th>
                    <th>Current Land Use</th>
                    <th>Vegetation</th>
                    <th>Australian Soil Type</th>
                    <th>Methodology</th>
                    <th>Depth</th>
                    <th>Moisture</th>
                    <th>Colour</th>
                    <th>Gravel</th>
                    <th>Texture</th>
                    <th>Course Sand</th>
                    <th>Fine Sand</th>
                    <th>Sand</th>
                    <th>Silt</th>
                    <th>Clay</th>
                    <th>NH<sub>3</sub>-N</th>
                    <th>NO<sub>3</sub><sup>−</sup></th>
                    <th>Colwell P</th>
                    <th>Colwell K</th>
                    <th>Sulphur</th>
                    <th>Organic Carbon</th>
                    <th>Conductivity</th>
                    <th>CaCl<sub>2</sub> pH</th>
                    <th>H<sub>2</sub>O pH</th>
                    <th>DTPA Cu</th>
                    <th>DTPA Fe</th>
                    <th>DTPA Mn</th>
                    <th>DTPA Zn</th>
                    <th>Exc Al</th>
                    <th>Exc Ca</th>
                    <th>Exc Mg</th>
                    <th>Exc K</th>
                    <th>Exc Na</th>
                    <th>B Hot CaCl<sub>2</sub></th>
                    <th>Total N</th>
                    <th>Total C</th>
                </tr>
            </thead>
            <tbody>
            {% for record in records %}
            <tr>
                <td>
                    <a href="{% url 'base_contextual:chemicalanalysisdetail' bpa_id=record.bpa_id %}">{{ record.bpa_id }}</a>
                </td>
                <td>
                    {% if record.site %}
                    <a href="{% url 'base_contextual:collectionsitedetail' record.site.pk %}">
                        {{ record.site.get_location_name }}</a>
                    {% endif %}
                </td>
                <td>{{ record.get_horizon_description }}</td>
                <td>{{ record.site.general_ecological_zone }}</td>
                <td>{{ record.site.current_land_use }}</td>
                <td>{{ record.site.vegetation_type.vegetation }}</td>
                <td>
                    {% if record.site.soil_type_australian_classification %}
                    <a href="https://www.google.com.au/search?q={{ record.site.soil_type_australian_classification }}+soil+australia">
                        {{ record.site.soil_type_australian_classification }}
                    </a>
                    {% endif %}
                </td>
                <td>{{ record.methodological_notes }}</td>
                <td>{{ record.depth }}</td>
                
                <td>{{ record.analysis.moisture | default:"" | floatformat:3 }}</td>
                <td>{{ record.analysis.colour| default:"" }}</td>
                <td>{{ record.analysis.gravel| default:"" }}</td>
                <td>{{ record.analysis.texture| default:"" | floatformat }}</td>
                <td>{{ record.analysis.course_sand| default:"" | floatformat }}</td>
                <td>{{ record.analysis.fine_sand| default:"" | floatformat }}</td>
                <td>{{ record.analysis.sand| default:"" }}</td>
                <td>{{ record.analysis.silt| default:"" }}</td>
                <td>{{ record.analysis.clay| default:"" }}</td>
                <td>{{ record.analysis.ammonium_nitrogen| default:"" }}</td>
                <td>{{ record.analysis.nitrate_nitrogen| default:"" }}</td>
                <td>{{ record.analysis.phosphorus_colwell| default:"" }}</td>
                <td>{{ record.analysis.potassium_colwell| default:"" }}</td>
                <td>{{ record.analysis.sulphur| default:"" }}</td>
                <td>{{ record.analysis.organic_carbon| default:"" }}</td>
                <td>{{ record.analysis.conductivity| default:"" }}</td>
                <td>{{ record.analysis.cacl2_ph| default:"" }}</td>
                <td>{{ record.analysis.h20_ph| default:"" }}</td>
                <td>{{ record.analysis.dtpa_copper| default:"" }}</td>
                <td>{{ record.analysis.dtpa_iron| default:"" }}</td>
                <td>{{ record.analysis.dtpa_manganese | default:""}}</td>
                <td>{{ record.analysis.dtpa_zinc| default:"" }}</td>
                <td>{{ record.analysis.exc_aluminium | default:""}}</td>
                <td>{{ record.analysis.exc_calcium| default:"" }}</td>
                <td>{{ record.analysis.exc_magnesium| default:"" }}</td>
                <td>{{ record.analysis.exc_potassium| default:"" }}</td>
                <td>{{ record.analysis.exc_sodium| default:"" }}</td>
                <td>{{ record.analysis.boron_hot_cacl2| default:"" }}</td>
                <td>{{ record.analysis.total_nitrogen| default:"" }}</td>
                <td>{{ record.analysis.total_carbon| default:"" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
$(document).ready(function () {
        $(function () {
            $("#matrix").tablesorter();
            });
        });
    </script>
</div>
