{% extends "admin/base.html" %}
{% load admin_static %}
{% load commontags %}

{% block extrastyle %}
{% endblock %}

{% block extrajs %}
{% endblock %}


{% block footer_links %}
    <a href="https://downloads.bioplatforms.com" class="icon">Downloads</a>
{% endblock %}

{% block footer_branding %}
    Bioplatforms Australia Metadata Version: {% bpam_version %}
{% endblock %}


{% block copyright %}
    Copyright &copy; Bioplatforms Australia<br>Developed by
    <a href="http://ccg.murdoch.edu.au" target="_blank">Center for Comparative Genomics, Murdoch University</a>
{% endblock %}
