{% if samples %}
<table id="sample-list" class="table table-striped">
    <thead>
    <tr>
        <th>BPA ID</th>
        <th>Sample ID</th>
        <th>Aurora Purified</th>
        <th>DNA Storage Nunc Plate</th>
        <th>DNA Storage Nunc Tube</th>
        <th>DNA Storage Nunc Well Location</th>
        <th>Submitter</th>
        <th>Date Received</th>
        <th>Note</th>


    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
    <tr>
        <td>
            <a href="{% url 'base454:454sampledetail' sample.pk %}">{{ sample.bpa_id }}</a>
        </td>
        <td>{{ sample.sample_id }}</td>
        <td>
            {% if sample.aurora_purified %}
            <span class="glyphicon glyphicon-ok"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove"></span>
            {% endif %}
        </td>
        <td>{{ sample.dna_storage_nunc_plate }}</td>
        <td>{{ sample.dna_storage_nunc_tube }}</td>
        <td>{{ sample.dna_storage_nunc_well_location }}</td>
        <td>{{ sample.submitter }}</td>
        <td>{{ sample.date_received }}</td>
        <td>{{ sample.note }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pagination pagination-centered">
    {% if page_obj.has_previous %}
    <li><a href="?page=1"><<</a></li>
    <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in paginator.page_range %}
    <li
    {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>
{% endif %}


<script>
    $(document).ready(function () {
        $(function () {
            $("#sample-list").tablesorter();
        });
    });
</script>

{% else %}
<h3> No Contextual data is currently available </h3>
{% endif %}
