<div class="well">
<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons">
        <button type="button" class="reset btn" data-column="0" data-filter="">
            <i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i>
            Reset filters
        </button>
    </div>
</div>

<table id="mdata" class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Sample Extraction ID</th>
            <th>Name</th>
            <th class="filter-select filter-exact" data-placeholder="Facility">Facility</th>
            <th>Run Number</th>
            <th class="filter-select filter-exact" data-placeholder="Amplicon">Amplicon</th>
            <th>Index</th>
            <th>PCR 1:10</th>
            <th>PCR 1:100</th>
            <th>Neat PCR</th>
            <th>Dilution</th>
            <th>Analysis Software Version</th>
            <th>Reads</th>
        </tr>
    </thead>
    <tbody>
        {% for data in metadata_list %}
        <tr>
            <td>
                <a href="{% url 'gbr_amplicon:amplicon' data.pk %}">{{ data.bpa_id }}</a>
            </td>
            <td>{{ data.sample_extraction_id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.sequencing_facility }}</td>
            <td>{{ data.sequencing_run_number }}</td>
            <td>{{ data.target }}</td>
            <td>{{ data.index }}</td>
            <td>
                {% if data.passed_pcr_1_to_10 %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>
                {%if data.passed_pcr_1_to_100 %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>
                {% if data.passed_pcr_neat %}
                <span class="glyphicon glyphicon-ok"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>{{ data.dilution }}</td>
            <td>{{ data.analysis_software_version }}</td>
            <td>{{ data.reads }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Sample Extraction ID</th>
                <th>Name</th>
                <th>Facility</th>
                <th>Run Number</th>
                <th>Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
            <tr>
                <th colspan="13" class="ts-pager form-horizontal">
                    <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                    <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                    <span class="pagedisplay"></span>
                    <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                    <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                    <select class="pagesize input-mini" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                    <select class="pagenum input-mini" title="Select page number"></select>
                </th>
            </tr>
        </tfoot>
    </tbody>
</table>
</div>
