{% extends "base.html" %}

{% block title %}Great Barrier Reef Amplicon Metadata {% endblock %}

{% block content %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Great Barrier Reef" "gbr:index" %}
{% breadcrumb "Amplicons" "gbr_amplicon:index" %}
{% with "gbr_amplicons:amplicons_"|add:target as target_url %}
{% breadcrumb target target_url %}
{% endwith %}
{% endblock %}

{% if metadata_list %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"></div>
    </div>

    <table class="ccgtable">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Sample Extraction ID</th>
                <th>Name</th>
                <th>Facility</th>
                <th>Run Number</th>
                <th>Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Sample Extraction ID</th>
                <th>Name</th>
                <th>Facility</th>
                <th>Run Number</th>
                <th>Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </tfoot>
        <tbody>
            {% for data in metadata_list %}
            <tr>
                <td>
                    <a href="{% url 'gbr_amplicon:amplicon' data.pk %}">{{ data.bpa_id }}</a>
                </td>
                <td>{{ data.sample_extraction_id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.sequencing_facility }}</td>
                <td>{{ data.sequencing_run_number }}</td>
                <td>{{ data.target }}</td>
                <td>{{ data.index }}</td>
                <td>
                    {% if data.passed_pcr_1_to_10 %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>
                    {%if data.passed_pcr_1_to_100 %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>
                    {% if data.passed_pcr_neat %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>{{ data.dilution }}</td>
                <td>{{ data.analysis_software_version }}</td>
                <td>{{ data.reads }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<h3> No Amplicon data is currently available </h3>
{% endif %}

{% endblock %}
