syntax:glob
*.log
*.swp
*.swo
*~
*.pyc
*.html~
*.js~
media/
bpam/build
bpam/bpam.egg-info
bpam/dist
bootstrap
virt_bpam
bpam.egg-info/
*.komodoproject
build-number.txt
setup.cfg
*.rpm
.idea/workspace.xml
.idea/tasks.xml
.coverage
htmlcov/
bpam/static/
syntax:regexp
\.idea
syntax:glob
metadata/
users/
bpam/bpam/static/
bpam/.ropeproject/
.ropeproject/
data/
virt*/
.version
