{% extends "base.html" %}

{% block title %}BASE Amplicon Metadata {% endblock %}


{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "BASE" "base:index" %}
{% breadcrumb "Amplicons" "base_amplicon:index" %}
{% with "base_amplicons:amplicons_"|add:target as target_url %}
{% breadcrumb target target_url %}
{% endwith %}
{% endblock %}

{% block content %}
{% if metadata_list %}
{% include "base_amplicon/metadata_table.html" %}

{% else %}
<h3> No Amplicon data is currently available </h3>
{% endif %}

{% endblock %}
