<!DOCTYPE html>
{% load bootstrap3 %}
{% load commontags %}
<html>
<head>
    <title>Bioplatforms Australia Metadata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    {% bootstrap_css %}
    <style>
        .content-div {
            padding-left: 1em;
            padding-right: 1em;
        }
    </style>
</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bioplatforms Australia Metadata</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a  href="http://www.bioplatforms.com.au">Bioplatforms Australia</a></li>
                <li class="active"><a  href="{% url 'admin:index' %}">Admin</a></li>
                <li class="active"><a  href="http://ccg.murdoch.edu.au">CCG</a></li>
                <li class="active"><a  href="http://ccg.murdoch.edu.au/index.php/contact">Contact</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Bioplatforms Australia Metadata</h1>
        <p>Welcome to Bioplatforms Australia's project metadata portal</p>
        {% load staticfiles %}
        <p>
            <img src="{% static "bpa-logos/BPA-logo-clear.png" %}" alt="BPA Logo"/>
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="{% url 'admin:index' %}">Bioplatforms Australia Metadata &raquo;</a>
        </p>
        <p>
            <a class="btn btn-lg btn-primary" href="https://downloads.bioplatforms.com">Sequence Downloads &raquo;</a>
        </p>
    </div>

    <footer>
        <p>&copy; Bioplatforms Australia 2013, 2014, bpa-metadata {% bpam_version %}</p>
    </footer>

</div>
<!-- /container -->

<script type="text/javascript"
        src="https://ccgmurdoch.atlassian.net/s/en_US-5aaqb5-1988229788/6080/26/1.4.0-m2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=9e6e31d4">
</script>

</body>
</html>

