<!DOCTYPE html>
{% load bootstrap3 %}
{% load commontags %}
{% load staticfiles %}
<html>
    <head>
        <link rel="icon" href="{% static 'bpa-logos/favicon.ico' %}" type="image/x-icon">
        <title>Bioplatforms Australia Metadata</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8"/>
        {% bootstrap_css %}

        <style>
            .content-div {
                padding-left: 1em;
                padding-right: 1em;
            }

            .landing_header img {
                float: left;
            }

            .landing_header h1 {
                position: relative;
                top: 18px;
                left: 10px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bioplatforms Australia Metadata</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://www.bioplatforms.com.au">Bioplatforms Australia</a></li>
                        <li class="active"><a href="https://downloads.bioplatforms.com">Bioplatforms Australia Downloads</a></li>
                        <li class="active"><a href="{% url 'admin:index' %}">Admin</a></li>
                        <li class="active"><a href="http://www.bioplatforms.com/contact/">Bioplatforms Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">

                <div class="landing_header">

                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object"
                                     src="{% static 'bpa-logos/BPA-logo-clear.png' %}"
                                     alt="BPA Logo"/>
                            </a>
                        </div>
                        <div class="media-body">
                            <h1 class="media-heading">Bioplatforms Australia Metadata</h1>
                            <h2>
                                Welcome to Bioplatforms Australia's project metadata portal.
                                <a href="https://downloads.bioplatforms.com/">Bioplatforms Australia Downloads</a>
                            </h2>
                        </div>
                    </div>

                </div>


                <div class="col-sm-6 col-md-4">
                    <a class="thumbnail" href="{% url 'gbr:index' %}">
                        <img class="img-responsive img-rounded" src="{% static 'gbr/coral.png' %}" alt="GBR">
                        <div class="caption">
                            <h3>Great Barrier Reef</h3>
                            <h6>Image courtesy of Gary Cranitch</h6>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="thumbnail" href="{% url 'base:index' %}">
                        <img class="img-responsive img-rounded" src="{% static 'base/base.png' %}" alt="BASE">
                        <div class="caption">
                            <h3>Biome of Australian Soil Environments</h3>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" href="{% url 'melanoma:index' %}">
                            <img class="img-responsive img-rounded" src="{% static 'melanoma/melanoma.png' %}" alt="Melanoma">
                            <div class="caption">
                                <h3>Melanoma</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" href="{% url 'wheat_pathogens_transcript:index' %}">
                            <img class="img-responsive img-rounded"
                                 src="{% static 'wheat_pathogens_transcript/fusarium_head_blight_infected_ear.png' %}" alt="Wheat Pathogens Transcript">
                            <div class="caption">
                                <h3>Wheat Pathogens Transcript</h3>
                                <h6>Wheat head blight image: Friday Obanor, CSIRO Plant Industry</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" href="{% url 'wheat_pathogens:index' %}">
                            <img class="img-responsive img-rounded" src="{% static 'wheat_pathogens/stagonospora_nodorum.png' %}" alt="Wheat Pathogens">
                            <div class="caption">
                                <h3>Wheat Pathogens Genomes</h3>
                                <h6>Image of Stagonospora Nodorum infected wheat: European Journal of Plant Pathology (2006)
                                    114:275–282</h6>
                            </div>
                        </a>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" href="{% url 'wheat_cultivars:index' %}">
                            <img class="img-responsive img-rounded" src="{% static 'wheat_cultivars/wheat.png' %}" alt="Wheat Cultivars">
                            <div class="caption">
                                <h3>Wheat Cultivars</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a class="thumbnail" href="{% url 'barcode:index' %}">
                            <img class="img-responsive img-rounded"
                                 src="{% static 'barcode/barcode.png' %}" alt="Barcode">
                            <div class="caption">
                                <h3>Barcode</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div id="footer">
                <div class="container">
                    <p class="text-muted credit">
                    &copy; Bioplatforms Australia, bpa-metadata {% bpam_version %}.
                    <a href="https://ccg.murdoch.edu.au/"> Centre for Comparative Genomics, Murdoch University, Western Australia.</a>
                    GNU Affero General Public License<a href="https://github.com/muccg/bpa-metadata"> Source</a>
                    </p>
                </div>
            </div>

        </div>
        <!-- /container -->

        <script type="text/javascript" src="https://ccgmurdoch.atlassian.net/s/d541a7672a8b04491854d503577f632d-T/en_US3tf2xo/65000/26/1.4.25/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=75770ea9"></script>

    </body>
</html>

