{% extends "base_template.html" %}

{% block title %}Melanoma {% endblock %}

{% block content %}

    <h3>Melanoma Sequence Files{% if bpa_id %} - {{ bpa_id }}{% endif %}</h3>
    <table id="sequence-list" class="table table-striped">
        <thead>
        <tr>
            <th>BPA ID</th>
            <th>File Name</th>
            <th>Sample Name</th>
            <th>Sequence Coverage</th>
            <th>Melanoma Contact Scientist</th>
            <th>Contact affiliation</th>
            <th>Sex</th>
            <th>DNA Source</th>
            <th>Tumor Staging</th>
            <th>MD5</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                {% if bpa_id %}
                    <td>{{ obj.bpa_id }}</td>
                {% else %}
                    <td><a href="{{ obj.bpa_id|replace("/", ".")}}/">{{ obj.bpa_id }}</a></td>
                {% endif %}
                <td><a rel="nofollow" href="{{ obj.url }}">{{ obj.filename }}</a></td>
                <td>{{ obj.sample_name }}</td>
                <td>{{ obj.coverage }}</td>
                <td>{{ obj.scientist }}</td>
                <td>{{ obj.affiliation }}</td>
                <td>{{ obj.sex }}</td>
                <td>{{ obj.dna_source }}</td>
                <td>{{ obj.tumor_staging }}</td>
                <td>{{ obj.md5 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if bpa_id %}
        <a href="../">Back to index</a>
    {% endif %}

{% endblock %}
