{% extends "base_template.html" %}

{% block title %}Wheat Pathogens{% endblock %}

{% block content %}

<h3>Wheat Pathogens Sequence Files{% if bpa_id %} - {{ bpa_id }}{% endif %}</h3>

    <table id="sequence-list" class="table table-striped">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Filename</th>
                <th>Sample Name</th>
                <th>Run Description</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
            {% if bpa_id %}
                <td>{{ obj.bpa_id }}</td>
            {% else %}
                <td><a href="{{obj.bpa_id|replace("/", ".")}}/">{{ obj.bpa_id }}</a></td>
            {% endif %}
                <td><a rel="nofollow" href="{{obj.url}}">{{ obj.filename }}</a></td>
                <td>{{ obj.name }}</td>
                <td>Run {{ obj.run }} for {{ obj.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if bpa_id %}
<a href="../">Back to index</a>
{% endif %}

{% endblock %}
