{% extends "base_template.html" %}

{% block title %}Wheat Pathogens{% endblock %}

{% block content %}

<h3>Wheat Pathogens Sequence Files{% if bpa_id %} - {{ bpa_id }}{% endif %}</h3>

    <table id="sequence-list" class="table table-striped">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Filename</th>
                <th>Isolate Name</th>
                <th>Species</th>
                <th>Original Source</th>
                <th>Pathogenicity</th>
                <th>Collection Date</th>
                <th>Collection Location</th>
                <th>Scientist</th>
                <th>Index</th>
                <th>MD5</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
            {% if bpa_id %}
                <td>{{ obj.bpa_id }}</td>
            {% else %}
                <td><a href="{{obj.bpa_id|replace("/", ".")}}/">{{ obj.bpa_id }}</a></td>
            {% endif %}
                <td><a rel="nofollow" href="{{obj.url}}">{{ obj.filename }}</a></td>
                <td>{{ obj.isolate_name }}</td>
                <td>{{ obj.species }}</td>
                <td>{{ obj.original_source_host_species }}</td>
                <td>{{ obj.pathogenicity }}</td>
                <td>{{ obj.collection_date }}</td>
                <td>{{ obj.collection_location }}</td>
                <td>{{ obj.scientist }}</td>
                <td>{{ obj.index }}</td>
                <td>{{ obj.md5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if bpa_id %}
<a href="../">Back to index</a>
{% endif %}

{% endblock %}
