{% extends "base_template.html" %}

{% block title %}Wheat Pathogen Isolates{% endblock %}

{% block content %}

    <h3>Wheat Pathogens Isolates </h3>

    <table id="pathogen-list" class="table table-striped">
        <thead>
        <tr>
            <th>Pathogen Metadata</th>
            <th>Isolate Analysis</th>
            <th>
                <a href="flat_index.html">Genome Sequence Files</a>
            </th>
            <th>Transcript</th>
            <th>Small RNA</th>
            <th>Proteomic</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td><a href="wmetadata/{{ obj.metadata_file }}">{{ obj.pathogen }}</a></td>
                <td>
                    {% if obj.genome_analysis %}
                        <a href="processed/">{{ obj.isolate }}</a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ obj.bpa_id|replace("/", ".")}}/" class="glyphicon glyphicon-ok"></a>
                </td>
                <td><a href=""></a></td>
                <td><a href=""></a></td>
                <td><a href=""></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if bpa_id %}
        <a href="../">Back to index</a>
    {% endif %}

{% endblock %}
