
<div class="container-fluid">

    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>

    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>SRA biosample accession</th>
                <th class="filter-select filter-exact" amplicon-placeholder="Facility">Facility</th>
                <th class="filter-select filter-exact" amplicon-placeholder="Amplicon">Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>SRA biosample accession</th>
                <th>Facility</th>
                <th>Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

    <script>
        marine_microbes_amplicon_setup('{{ amplicon }}');
    </script>

</div>
