{% extends "base.html" %}
{% block title %}Marine Microbes Amplicons{% endblock %}

{% load staticfiles %}
{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Amplicons" "marine_microbes:amplicon_index" %}
{% endblock %}


<div class="container-fluid">
    <div class="jumbotron">

        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class="img-responsive img-rounded" src="{% static 'marine_microbes/marine_microbes.png' %}" alt="Marine Microbes">
            </div>

            <div class="col-sm-8 col-md-8">
                <h2>
                    All Marine Microbe Amplicons
                </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'marine_microbes:amplicons_all' %}">
                        All Amplicons
                        <span id="amplicons_count_all" class="badge"></span></a>
                    <a class="list-group-item" href="{% url 'marine_microbes:amplicons_16S' %}">
                        16S
                        <span id="amplicons_count_16s" class="badge"></span> </a>
                    <a class="list-group-item" href="{% url 'marine_microbes:amplicons_A16S' %}">
                        A16S
                        <span id="amplicons_count_a16s" class="badge"></span> </a>
                    <a class="list-group-item" href="{% url 'marine_microbes:amplicons_18S' %}">
                        18S
                        <span id="amplicons_count_18s" class="badge"></span> </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#amplicons_count_all').text(loadingText);
        $('#amplicons_count_16s').text(loadingText);
        $('#amplicons_count_a16s').text(loadingText);
        $('#amplicons_count_18s').text(loadingText);

        CKAN.amplicon_resources_count(function(counts) {
            $('#amplicons_count_all').text(counts.all);
            $('#amplicons_count_16s').text(counts['16S']);
            $('#amplicons_count_a16s').text(counts['A16S']);
            $('#amplicons_count_18s').text(counts['18S']);
        })
    </script>
</div>
{% endblock %}
