
<div class="container-fluid">

    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>

    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>SRA biosample accession</th>
                <th class="filter-select filter-exact" amplicon-placeholder="Facility">Facility</th>
                <th class="filter-select filter-exact" amplicon-placeholder="Amplicon">Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>SRA biosample accession</th>
                <th>Facility</th>
                <th>Amplicon</th>
                <th>Index</th>
                <th>PCR 1:10</th>
                <th>PCR 1:100</th>
                <th>Neat PCR</th>
                <th>Dilution</th>
                <th>Analysis Software Version</th>
                <th>Reads</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>

<script>
  function marine_microbes_amplicon_setup(amplicon) {
    var url = bpam_config.ckan_base + 'resource_list/bpa-marine-microbes/mm-genomics-amplicon';
    if (amplicon !== 'all') {
      url += '?amplicon=' + amplicon;
    }

    setup_table(function() {
      var config = _.defaults({
        columns: [{
                'data': 'package.id',
                'defaultContent': '',
                'render': function(data, type, row) {
                    var url = '{{ ckan_base_url }}' + 'dataset/' + data;
                    return '<a href="' + url + '">' + data + '</a>';
                }
              },
              { 'data': 'package.bpa_id' , 'defaultContent': ''},
              { 'data': 'package.sra', 'defaultContent': ''},
              { 'data': 'facility', 'defaultContent': ''},
              { 'data': 'amplicon', 'defaultContent': ''},
              { 'data': 'index', 'defaultContent': ''},
              { 'data': 'pcr1_10' , 'defaultContent': ''},
              { 'data': 'pcr1_100' , 'defaultContent': ''},
              { 'data': 'neat_pcr' , 'defaultContent': ''},
              { 'data': 'package.dilution_used' , 'defaultContent': ''},
              { 'data': 'package.analysis_software_version' , 'defaultContent': ''},
              { 'data': 'read' , 'defaultContent': ''}
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
    marine_microbes_amplicon_setup('{{ amplicon }}');
  });
</script>
