{% extends "base.html" %}

{% block title %}Marine Microbes Metagenomic Sequence Files{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"> </div>
  </div>

  <table class="apitable" width="100%">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Sample Type</th>
        <th>Vendor</th>
        <th>Index</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Sample Type</th>
        <th>Vendor</th>
        <th>Index</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
</div>

<script>
  function marine_microbes_metagenomics_setup() {
    var url = bpam_config.ckan_base + 'resource_list/bpa-marine-microbes/mm-metagenomics';

    setup_table(function() {
      var config = _.defaults({
        columns: [{
                'data': 'package.id',
                'defaultContent': '',
                'render': function(data, type, row) {
                    var url = '{{ ckan_base_url }}' + 'dataset/' + row.package_id;
                    return '<a href="' + url + '">' + data + '</a>';
                }
              },
              { 'data': 'package.bpa_id' , 'defaultContent': ''},
              { 'data': 'package.sample_type' , 'defaultContent': ''},
              { 'data': 'vendor', 'defaultContent': '' },
              { 'data': 'index', 'defaultContent': '' },
              {
                  'data': 'url',
                  'defaultContent': '',
                  'render': function(data, type, row) {
                    filename = '';
                    if (row.url) {
                      var parts = row.url.split('/');
                      filename = parts[parts.length - 1];
                    }
                    var url = '{{ ckan_base_url }}' + 'dataset/' + row.package_id + '/resource/' + row.id;
                    return '<a href="' + url + '">' + filename + '</a>';
                  }
              },
              {
                  'data': 'md5',
                  'defaultContent': '',
                  'render': function(data, type, row) {
                      return '<pre>' + data + '</pre>';
                  }
              }
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
    marine_microbes_metagenomics_setup();
  });
</script>

{% endblock %}
