{% extends "base.html" %}

{% block title %}Marine Microbes Metagenomic Sequence Files{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Metagenomic Sequence Files" "marine_microbes:metagenomicis_file_list" %}
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"> </div>
  </div>

  <table class="apitable" width="100%">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Sample Type</th>
        <th>Vendor</th>
        <th>Index</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Sample Type</th>
        <th>Vendor</th>
        <th>Index</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>

  <script>
    marine_microbes_metagenomics_setup();
  </script>

</div>

{% endblock %}
