{% extends "base_project_overview.html" %}

{% block title %}Marine Microbes Project Overview{% endblock %}

{% load static from staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Marine Microbes Project Overview" "" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script>
  var PO_CONF = {
    project_name: 'marine_microbes',
    project_overview_count_url: '{% url "ckan:mm_project_overview_count" %}',
    urls: {
      'mm-metagenomics': "{% url 'ckan:package_list' 'bpa-marine-microbes' 'mm-metagenomics' %}",
      'mm-metatranscriptome': "{% url 'ckan:package_list' 'bpa-marine-microbes' 'mm-metatranscriptome' %}",
      'amplicons.16s': ampliconURL('16s'),
      'amplicons.a16s': ampliconURL('a16s'),
      'amplicons.18s': ampliconURL('18s')
    },
    top_level_nodes: [
      ['Metagenomics', 'mm-metagenomics'],
      ['Metatranscriptomics', 'mm-metatranscriptome'],
      ['Amplicon 16S', 'amplicons.16s'],
      ['Amplicon A16S', 'amplicons.a16s'],
      ['Amplicon 18S', 'amplicons.18s']
    ]
  };

  function ampliconURL(ampliconType) {
    var ampliconBaseURL = "{% url 'ckan:package_list' 'bpa-marine-microbes' 'mm-genomics-amplicon' %}";
    return _.trimEnd(ampliconBaseURL, '/') + '?amplicon=' + ampliconType;
  }

  function recreateTable(url, nodeData) {
    destroyTable();

    setup_table(function() {
      var config = _.defaults({
        searching: true,

        columns: [
              {
                'data': 'bpa_id',
                'defaultContent': '',
                'render': function (data, type, row) {
                    var url = '{{ ckan_base_url }}' + 'dataset/' + row.id;
                    return '<a href="' + url + '">' + data + '</a>';
                }
              },
              { 'data': 'submitter' , 'defaultContent': ''},
              // { 'data': 'research_group' , 'defaultContent': ''},
              { 'data': 'work_order' , 'defaultContent': ''},
              { 'data': 'omics' , 'defaultContent': ''},
              { 'data': 'analytical_platform' , 'defaultContent': ''},
              { 'data': 'facility' , 'defaultContent': ''},
              { 'data': 'contextual_data_submission_date' , 'defaultContent': ''},
              { 'data': 'sample_submission_date' , 'defaultContent': ''},
              { 'data': 'data_generated' , 'defaultContent': ''},
              { 'data': 'archive_ingestion_date' , 'defaultContent': ''},
              { 'data': 'ticket' , 'defaultContent': ''}
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });

  };

</script>

{% endblock extra_head %}

{% block content %}

<div class="container-fluid">
    <br>
    <div class="row">

        <div class="col-md-3" id="tree-col">
            <div id="tree">
            </div>
        </div>

        <div class="col-md-9" id="content-col">
            <table class="apitable" id="content-table">
              <thead>
                  <tr>
                      <th>BPA ID</th>
                      <th>Submitter</th>
                      <th>Work Order</th>
                      <th>Omics Type</th>
                      <th>Analytical Platform</th>
                      <th>Facility</th>
                      <th>Contextual Data Submission Date</th>
                      <th>Sample Submission Date</th>
                      <th>Data Generated</th>
                      <th>Archive Ingestion Date</th>
                      <th>BPAOPS</th>
                 </tr>
              </thead>
              <tfoot>
                  <tr>
                      <th>BPA ID</th>
                      <th>Submitter</th>
                      <th>Work Order</th>
                      <th>Omics Type</th>
                      <th>Analytical Platform</th>
                      <th>Facility</th>
                      <th>Contextual Data Submission Date</th>
                      <th>Sample Submission Date</th>
                      <th>Data Generated</th>
                      <th>Archive Ingestion Date</th>
                      <th>BPAOPS</th>
                 </tr>
              </tfoot>
              <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}