{% extends "base.html" %}

{% block title %}Marine Microbes Project Overview{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Marine Microbes Project Overview" "" %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"
      integrity="sha256-sbTY4/3NU+qqsJIrxYuJXgOTjF75tfKYOVu+DEdV+cA= sha384-wd7GF/BlZaKbO07QcE6J32f+vLIVar4Qyo7n4601xPjaOS3KuhkoMARpLOOvI4XI sha512-z7TDQTYQF39S87Lt3oi9I5RSsV4SSo7Pmwj4+FXZTXuKxzIzqP6C5uo00RyajhFwncuty57b1s1slkvpj5YLHw=="
      crossorigin="anonymous"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"
        integrity="sha256-lK8O5StczSYl4DweTw0KlopBgYKtiwLSq6BbSSe77Kk= sha384-3xJpTAehKTp8sw2H5VBvFFFeUdcxlxQYYyML7JGy/N8CdC+Ij8AALUibuWZRjiJq sha512-MR6zYveOuENWQVCZ6oDvrbySpOsDwGLoKxPt3p0dM/Ce3nZk+IqFgqr+qx94WtM84THJJOmGHMwazsUJn43RhQ=="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        function recreateTable(url) {
            $('#content-table').DataTable().destroy();

            var config = {
                retrieve: true,
                colReorder: true,
                stateSave: true,
                searching: false,
                serverSide: true,
                ajax: {
                    url: url,
                    cache: true,
                    dataSrc: 'data'
                },
                processing: true,
                pageLength: 100,
                buttons: [
                    'colvis', 'copy', 'csv', 'excel', 'print'
                ], columns: [
                    {
                        'data': 'id',
                        'defaultContent': '',
                        'render': function (data, type, row) {
                            var url = bpam_config.bpam_base + 'marine_microbes/sample/' + data + '/';
                            return '<a href="' + url + '">' + data + '</a>';
                        }
                    },
                    { 'data': 'bpa_id' , 'defaultContent': ''},
                    { 'data': 'sample_type' , 'defaultContent': ''},
                    { 'data': 'sample_site', 'defaultContent': '' },
                    { 'data': 'date_sampled', 'defaultContent': '' },
                    { 'data': 'depth', 'defaultContent': '' }
                ],
                fixedHeader: true
            };
            var ft = $('#content-table').DataTable(config);
            ft.buttons().container().appendTo($('.bootstrap_buttons'), ft.table().container());
            $('.apitable').addClass('table-striped table-bordered table-condensed');
        }

        $("#tree").on('select_node.jstree', function (e, data) {
            recreateTable(data.node.original.url);

            if (data.instance.is_parent(data.node)) {
                if (!data.instance.is_open(data.node) ) {
                    data.instance.toggle_node(data.node);
                }
            }

        }).jstree({
            'core' : {
              'data': function(obj, callback) {
                  $.ajax({
                      'url': '{% url "ckan:mm_project_overview_count" %}',
                  }).done(function(resp) {
                      var data = resp.data;
                      callback.call(this, [{
                              text: 'Metagenomics (' + _.get(data, 'mm-metagenomics', 0)  + ')',
                              url: "{% url 'ckan:packages' 'bpa-marine-microbes' 'mm-metagenomics' %}"
                              /* TODO
                              children: [{
                                    text: 'Generated (0)'
                                }, {
                                    text: 'Quality Checked (0)'
                                }, {
                                    text: 'Minimum Contextual Data Received (0)'
                                }, {
                                    text: 'Full Contextual Data Received (0)'
                              }]
                              */
                          },{
                              text: 'Amplicon 16S (' + _.get(data, 'amplicons.16s', 0) + ')',
                              url: "{% url 'ckan:packages' 'bpa-marine-microbes' 'mm-genomics-amplicon' %}?amplicon=16S"
                          },{
                              text: 'Amplicon A16S (' + _.get(data, 'amplicons.a16s', 0) + ')',
                              url: "{% url 'ckan:packages' 'bpa-marine-microbes' 'mm-genomics-amplicon' %}?amplicon=a16S"
                          },{
                              text: 'Amplicon 18S (' + _.get(data, 'amplicons.18s', 0) + ')',
                              url: "{% url 'ckan:packages' 'bpa-marine-microbes' 'mm-genomics-amplicon' %}?amplicon=18S"
                          }]);
                  });
              }
            },
            "plugins" : [ "state" ]
        });

        $("#tree-toggle-btn").on('click', function() {
            if ( $("#tree-col").is(":hidden") ) {
                $("#content-col").removeClass("col-md-12");
                $("#content-col").addClass("col-md-10");
                $("#tree-col").show("slow");
                $("#tree-toggle-btn").html("Hide tree");
            } else {
                $("#tree-col").hide("slow", function() {
                    $("#content-col").removeClass("col-md-10");
                    $("#content-col").addClass("col-md-12");
                    $("#tree-toggle-btn").html("Show tree");
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn btn-warning btn-sm" id="tree-toggle-btn">Hide tree</div>
        </div>
        <div class="col-md-10">
            <div class="bootstrap_buttons pull-right"> </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <br>
    <div class="row">

        <div class="col-md-2" id="tree-col">
            <div id="tree">
            </div>
        </div>

        <div class="col-md-10" id="content-col">
            <table class="apitable" width="100%" id="content-table">
                <thead>
                    <tr>
                        <th>Sample ID</th>
                        <th>BPA ID</th>
                        <th>Sample Type</th>
                        <th>Collection Site</th>
                        <th>Collection Date</th>
                        <th>Collection Depth</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sample ID</th>
                        <th>BPA ID</th>
                        <th>Sample Type</th>
                        <th>Collection Site</th>
                        <th>Collection Date</th>
                        <th>Collection Depth</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
