{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Samples" "sepsis:samples" %}
{% endblock %}

{% block title %}Marine Microbe Samples {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>Sample Type</th>
                <th>Collection Site</th>
                <th>Collection Date</th>
                <th>Collection Depth</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

    <script>
        marine_microbes_samples_setup();
    </script>

</div>
{% endblock %}
