{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Marine Microbes Sample Detail {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Samples" "marine_microbes:samples" %}
{% breadcrumb sample.bpa_id "marine_microbes:sample" sample.bpa_id %}
{% endblock %}

{% block content %}
<div class="panel panel-info">
  <table id="info" class="table table-striped">
    <tbody>
      <tr>
        <td> Sample Type</td>
        <td> {{ sample.get_sample_type_display|default:"" }}</td>
      </tr>
      <tr>
        <td> Site </td>
        <td> {{ sample.site|default:"" }}</td>
      </tr>
      <tr>
        <td> Sample Depth</td>
        <td> {{ sample.sample_depth|default:"" }}</td>
      </tr>
      <tr>
        <td>Collection Date</td>
        <td> {{ sample.collection_date}}</td>
      </tr>
    </tbody>
  </table>
</div>

{% include "sequencefilelist.html" %}

{% endblock %}
