{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Samples" "sepsis:samples" %}
{% endblock %}

{% block title %}Sepsis Samples {% endblock %}

{% block content %}

{% if samples %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="ccgtable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Sample Type</th>
                <th>Collection Site</th>
                <th>Collection Date</th>
                <th>Collection Depth</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
        <tbody>
            {% for sample in samples %}
            <tr>
                <td>
                    <a href="{% url 'marine_microbes:sample' sample.pk %}">{{ sample.bpa_id }}</a>
                </td>
                <td>{{ sample.sample_type }}</td>
                <td>{{ sample.site }}</td>
                <td>{{ sample.collection_date }}</td>
                <td>{{ sample.depth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3> No Marine Microbes Sample Data is currently available </h3>
    {% endif %}
</div>
{% endblock %}
