{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Marine Microbes Sample Detail {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Samples" "marine_microbes:samples" %}
{% breadcrumb_safe "<span class='bpa_id'></span>" "" %}
{% endblock %}

{% block content %}
<div class="panel panel-info">
  <table id="info" class="table table-striped">
    <tbody>
      <tr>
        <td> BPA ID</td>
        <td class="bpa_id"></td>
      </tr>
      <tr>
        <td> Sample ID</td>
        <td class="sample_id"></td>
      </tr>
      <tr>
        <td> Sample Type</td>
        <td class="sample_type"></td>
      </tr>
      <tr>
        <td> Site </td>
        <td class="site"></td>
      </tr>
      <tr>
        <td> Sample Depth</td>
        <td class="sample_depth"></td>
      </tr>
      <tr>
        <td>Collection Date</td>
        <td class="collection_date"></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
    set_mm_sample();
</script>

{% include "apisequencefilelist.html" %}

{% endblock %}
