{% extends "base.html" %}

{% block title %}Marine Microbe Samples {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>Data Type</th>
                <th>Description</th>
                <th>Omics Type</th>
                <th>Analytical Platform</th>
                <th>Facility</th>
                <th>Work Order</th>
                <th>Contextual Data Submission Date</th>
                <th>Sample Submission Date</th>
                <th>Archive Ingestion Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Sample ID</th>
                <th>BPA ID</th>
                <th>Data Type</th>
                <th>Description</th>
                <th>Omics Type</th>
                <th>Analytical Platform</th>
                <th>Facility</th>
                <th>Work Order</th>
                <th>Contextual Data Submission Date</th>
                <th>Sample Submission Date</th>
                <th>Archive Ingestion Date</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

</div>

<script>
  function marine_microbes_samples_setup() {
    var url = bpam_config.ckan_base + 'package_list/bpa-marine-microbes';

    setup_table(function() {
      var config = _.defaults({
        searching: true,

        columns: [{
              'data': 'id',
              'defaultContent': '',
              'searchable': false,
              'render': function(data, type, row) {
                  var url = '{{ ckan_base_url }}' + 'dataset/' + data;
                  return '<a href="' + url + '">' + data + '</a>';
              }
            },
            { 'data': 'bpa_id' , 'defaultContent': '', 'searchable': false},
            { 'data': 'data_type' , 'defaultContent': ''},
            { 'data': 'description' , 'defaultContent': ''},
            { 'data': 'omics' , 'defaultContent': ''},
            { 'data': 'analytical_platform' , 'defaultContent': ''},
            { 'data': 'facility' , 'defaultContent': ''},
            { 'data': 'work_order' , 'defaultContent': ''},
            { 'data': 'contextual_data_submission_date' , 'defaultContent': ''},
            { 'data': 'sample_submission_date' , 'defaultContent': ''},
            { 'data': 'archive_ingestion_date' , 'defaultContent': ''}
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
     marine_microbes_samples_setup();
  });
</script>

{% endblock %}
