{% extends "base.html" %}
{% block title %}Wheat Cultivars{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'wheat_pathogens/wheat_pathogens.jpg' %}"
                     alt="Wheat Pathogens">
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <h2> Wheat Pathogens </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'wheat_pathogens:samples' %}">Samples</a>
                    <a class="list-group-item" href="{% url 'wheat_pathogens:sequencefiles' %}">Sequence Files</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
