{% extends "base.html" %}
{% block title %}Wheat Pathogen Genomes{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'wheat_pathogens/stagonospora_nodorum.png' %}"
                     alt="Wheat Pathogens Genomes">
                Image of Stagonospora Nodorum infected wheat: Kasia Rybak Australian Centre for Necrotrophic Fungal Pathogens
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <h2> Wheat Pathogens Genomes </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'wheat_pathogens:samples' %}">
                        Samples <span class="badge">{{ sample_size }}</span>
                    </a>
                    <a class="list-group-item" href="{% url 'wheat_pathogens:sequencefiles' %}">
                        Sequence Files <span class="badge">{{ sequence_file_size }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
