{% extends "base.html" %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Pathogens Genomes" "wheat_pathogens:index" %}
{% endblock %}

{% block title %}Wheat Pathogen Genomes{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="well">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded"
                     src="{% static 'wheat_pathogens/stagonospora_nodorum.png' %}"
                     alt="Wheat Pathogens Genomes">
                Image of Stagonospora Nodorum infected wheat: European Journal of Plant Pathology (2006) 114:275–282
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <h2> Wheat Pathogens Genomes </h2>
                <p> This dataset contains the genomic sequence from 10 fungal
                and 2 bacterial pathogen species. Among the pathogens sequenced
                are the causal agents of stripe rust, stem rust, tan spot,
                glume blotch, septoria leaf blotch, bare patch and crown
                rot/head blight. A total of 27 genomes will be made available.
                </p>

                <p>
                The genomes were selected for analysis by a consortium of
                Australian wheat pathogen researchers from the following
                organisations:

                <ul>
                    <li> Australian National University </li>
                    <li> CSIRO </li>
                    <li> Curtin University </li>
                    <li> Charles Sturt University </li>
                    <li> NSW Department of Primary industry </li>
                    <li> Grains Research and Development Corporation </li>
                </ul>
                </p>
                <p>
                For more information please visit:
                <a href="http://www.bioplatforms.com/wheat-defense/">
                    http://www.bioplatforms.com/wheat-defense/
                </a>
                </p>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">

                <div class="list-group">
                    <a class="list-group-item"
                       href="{% url 'wheat_pathogens:samples' %}">
                       Samples
                       <span class="badge">{{ sample_size }}</span>
                    </a>
                    <a class="list-group-item"
                       href="{% url 'wheat_pathogens:sequencefiles' %}">
                       Sequence Files
                       <span class="badge">{{ sequence_file_size }}</span>
                    </a>
                    <a class="list-group-item"
                       href="https://downloads.bioplatforms.com/bpa/wheat_pathogens/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Downloads
                    </a>
                    <a class="list-group-item"
                       href="{% url 'wheat_pathogens:contacts' %}">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        Contacts
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
