{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Pathogens Genomes" "wheat_pathogens:index" %}
{% breadcrumb "Samples" "wheat_pathogens:samples" %}
{% endblock %}

{% block title %}Wheat Pathogen Genome Samples {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"></div>
    </div>

    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Name</th>
                <th>Isolate Name</th>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Species</th>
                <th>Original Source Host Species</th>
                <th>Isolate Collection Location</th>
                <th>Pathogenicity Towards Wheat</th>
                <th>Contact Scientist</th>
                <th>DNA Source</th>
                <th>DNA Extraction Protocol</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Name</th>
                <th>Isolate Name</th>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Species</th>
                <th>Original Source Host Species</th>
                <th>Isolate Collection Location</th>
                <th>Pathogenicity Towards Wheat</th>
                <th>Contact Scientist</th>
                <th>DNA Source</th>
                <th>DNA Extraction Protocol</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>

<script>
wheat_pathogen_samples_setup();
</script>

{% endblock %}
