
<table id="sample-list" class="table table-striped">
    <thead>
    <tr>
        <th>BPA ID</th>
        <th>Name</th>
        <th>Isolate Name</th>
        <th>Kingdom</th>
        <th>Phylum</th>
        <th>Species</th>
        <th>Other ID's</th>
        <th>Original Source Host Species</th>
        <th>Isolate Collection Date</th>
        <th>Isolate Collection Location</th>
        <th>Pathogenicity Towards Wheat</th>
        <th>Contact Scientist</th>
        <th>DNA Source</th>
        <th>DNA Extraction Protocol</th>
    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
    <tr>
        <td>
            <a href="{% url 'wheat_pathogens:sample' sample.pk %}">{{ sample.bpa_id }}</a>
        </td>
        <td>{{ sample.name }}</td>
        <td>{{ sample.official_variety_name }}</td>
        <td>{{ sample.organism.kingdom }}</td>
        <td>{{ sample.organism.phylum }}</td>
        <td>{{ sample.organism.species }}</td>
        <td>{{ sample.other_id }}</td>
        <td>{{ sample.original_source_host_species }}</td>
        <td>{{ sample.isolate_collection_date }}</td>
        <td>{{ sample.collection_location }}</td>
        <td>{{ sample.wheat_pathogenicity }}</td>
        <td>{{ sample.contact_scientist }}</td>
        <td>{{ sample.dna_source.description }}</td>
        <td>{{ sample.dna_extraction_protocol }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(function () {
            $("#sample-list").tablesorter();
        });
    });
</script>
