{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Pathogens Genomes" "wheat_pathogens:index" %}
{% breadcrumb "Samples" "wheat_pathogens:samples" %}
{% endblock %}

{% block title %}Wheat Pathogen Genome Samples {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"></div>
    </div>

    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Name</th>
                <th>Isolate Name</th>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Species</th>
                <th>Original Source Host Species</th>
                <th>Isolate Collection Location</th>
                <th>Pathogenicity Towards Wheat</th>
                <th>Contact Scientist</th>
                <th>DNA Source</th>
                <th>DNA Extraction Protocol</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Name</th>
                <th>Isolate Name</th>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Species</th>
                <th>Original Source Host Species</th>
                <th>Isolate Collection Location</th>
                <th>Pathogenicity Towards Wheat</th>
                <th>Contact Scientist</th>
                <th>DNA Source</th>
                <th>DNA Extraction Protocol</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>

<script>
  function wheat_pathogen_samples_setup() {
    var url = bpam_config.ckan_base + 'packages/bpa-wheat-pathogens-genomes';

    setup_table(function() {
      var config = _.defaults({
        searching: true,

        columns: [
            {
                'data': 'bpa_id',
                'searchable': false,
                'render': function(data, type, row) {
                    var url = bpam_config.bpam_base + 'wheat_pathogens/sample/' + data + '/';
                    return '<a href="' + url + '">' + data + '</a>';
                }
            },
            { 'data': 'sample_id', 'searchable': false},
            { 'data': 'official_variety_name' },
            { 'data': 'kingdom' },
            { 'data': 'phylum' },
            { 'data': 'species' },
            { 'data': 'original_source_host_species' },
            { 'data': 'collection_location' },
            { 'data': 'wheat_pathogenicity' },
            { 'data': 'contact_scientist' },
            { 'data': 'dna_source' },
            { 'data': 'dna_extraction_protocol' }
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
    wheat_pathogen_samples_setup();
  });
</script>

{% endblock %}
