{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Pathogens Genomes" "wheat_pathogens:index" %}
{% breadcrumb "Sequence Files" "wheat_pathogens:files" %}
{% endblock %}

{% block title %}Wheat Pathogen Genome Sequence Files {% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"></div>
    </div>

    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Isolate Name</th>
                <th>Sample Name</th>
                <th>Species</th>
                <th>Library</th>
                <th>Library Construction</th>
                <th>Library Construction Protocol</th>
                <th>Sequencer</th>
                <th>Library ID</th>
                <th>Index</th>
                <th>Run Number</th>
                <th>Run #:Flow Cell ID</th>
                <th>Lane Number</th>
                <th>Filename</th>
                <th>MD5</th>
                <th>Size</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Isolate Name</th>
                <th>Sample Name</th>
                <th>Species</th>
                <th>Library</th>
                <th>Library Construction</th>
                <th>Library Construction Protocol</th>
                <th>Sequencer</th>
                <th>Library ID</th>
                <th>Index</th>
                <th>Run Number</th>
                <th>Run #:Flow Cell ID</th>
                <th>Lane Number</th>
                <th>Filename</th>
                <th>MD5</th>
                <th>Size</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>

<script>
function wheat_pathogen_sequencefiles_setup() {
    var url = bpam_config.ckan_base + 'resources/bpa-wheat-pathogens-genomes/wheat-pathogens';

    setup_table(function() {
      var config = _.defaults({
        columns: [{
              'data': 'package.bpa_id',
              'searchable': false,
              'render': function(data, type, row) {
                  var url = bpam_config.bpam_base + 'wheat_pathogens/sample/' + data + '/';
                  return '<a href="' + url + '">' + data + '</a>';
              }
            },
            { 'data': 'package.official_variety_name' },
            { 'data': 'package.sample_id' },
            { 'data': 'package.species' },
            { 'data': 'run_protocol_library_type' },
            { 'data': 'run_protocol_base_pairs' },
            { 'data': 'run_protocol' },
            { 'data': 'sequencer' },
            { 'data': 'package.library_id' },
            { 'data': 'package.index' },
            { 'data': 'run_number' },
            { 'data': 'flowcell' },
            { 'data': 'run_lane_number' },
            {
                'data': 'filename',
                'render': function(data, type, row) {
                    return '<a href="' + row.url + '"><span class="glyphicon glyphicon-download"></span>' + data + '</a>';
                }
            },
            {
                'data': 'md5',
                'render': function(data, type, row) {
                    return '<pre>' + data + '</pre>';
                }
            },
            { 'data': 'file_size' }
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
};

$(document).ready(function() {
  wheat_pathogen_sequencefiles_setup();
});

</script>
</div>
{% endblock %}
