{% extends "base.html" %}
{% block title %}Wheat Cultivars{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="jumbotron">
    <img src="{% static 'wheat_cultivars/wheat.jpg' %}" alt="BASE">

    <h2>
        Wheat Cultivars
    </h2>

    <div class="list-group">
        <a class="list-group-item" href="{% url 'wheat_cultivars:samples' %}">Samples</a>
        <a class="list-group-item" href="{% url 'wheat_cultivars:sequencefiles' %}">Sequence Files</a>
    </div>
</div>
{% endblock %}
