{% extends "base.html" %}
{% block title %}Wheat Cultivars{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <img class="img-responsive img-rounded" src="{% static 'wheat_cultivars/wheat.jpg' %}"
                     alt="Wheat Cultivars">
            </div>

            <div class="col-sm-5 col-md-5">
                <h2> Wheat Cultivars </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'wheat_cultivars:samples' %}">Samples</a>
                    <a class="list-group-item" href="{% url 'wheat_cultivars:sequencefiles' %}">Sequence Files</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
