{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Cultivars" "wheat_cultivars:index" %}
{% breadcrumb "Samples" "wheat_cultivars:samples" %}
{% endblock %}

{% block title %}Wheat Cultivar Samples {% endblock %}

{% block content %}

<h3>Wheat Cultivar Samples</h3>

{% if samples %}

<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons">
        <button type="button" class="reset btn" data-column="0" data-filter="">
            <i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i>
            Reset filters
        </button>
    </div>
</div>
<table class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Cultivar</th>
            <th>Cultivar Code</th>
            <th>Extract Name</th>
            <th>CASAVA Version</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>
                <a href="{% url 'wheat_cultivars:sample' sample.pk %}">{{ sample.bpa_id }}</a>
            </td>
            <td>{{ sample.name }}</td>
            <td>{{ sample.cultivar_code }}</td>
            <td>{{ sample.extract_name }}</td>
            <td>{{ sample.casava_version }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Cultivar</th>
            <th>Cultivar Code</th>
            <th>Extract Name</th>
            <th>CASAVA Version</th>
        </tr>
        <tr>
            <th colspan="5" class="ts-pager form-horizontal">
                <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                <select class="pagesize input-mini" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
                <select class="pagenum input-mini" title="Select page number"></select>
            </th>
        </tr>
    </tfoot>
</table>

{% else %}
<h3> No Wheat Cultivar Data is currently available </h3>
{% endif %}

{% endblock %}
