{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Cultivars" "wheat_cultivars:index" %}
{% breadcrumb "Samples" "wheat_cultivars:samples" %}
{% endblock %}

{% block title %}Wheat Cultivar Samples {% endblock %}

{% block content %}

<h3>Wheat Cultivar Samples</h3>

{% if samples %}

<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"></div>
</div>
<table class="ccgtable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Cultivar</th>
            <th>Cultivar Code</th>
            <th>Classification</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Cultivar</th>
            <th>Cultivar Code</th>
            <th>Classification</th>
        </tr>
    </tfoot>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>
                <a href="{% url 'wheat_cultivars:sample' sample.pk %}">{{ sample.bpa_id }}</a>
            </td>
            <td>{{ sample.name }}</td>
            <td>{{ sample.cultivar_code }}</td>
            <td>{{ sample.classification }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<h3> No Wheat Cultivar Data is currently available </h3>
{% endif %}

{% endblock %}
