
<table id="sample-list" class="table table-striped">
    <thead>
    <tr>
        <th>BPA ID</th>
        <th>Cultivar</th>
        <th>Cultivar Code</th>
        <th>Extract Name</th>
        <th>CASAVA Version</th>
    </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
    <tr>
        <td>
            <a href="{% url 'wheat_cultivars:sample' sample.pk %}">{{ sample.bpa_id }}</a>
        </td>
        <td>{{ sample.name }}</td>
        <td>{{ sample.cultivar_code }}</td>
        <td>{{ sample.extract_name }}</td>
        <td>{{ sample.casava_version }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(function () {
            $("#sample-list").tablesorter();
        });
    });
</script>
