{% extends "base.html" %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Wheat Cultivars" "wheat_cultivars:index" %}
{% breadcrumb "Sample" "" %}
{% endblock %}

{% block title %}Wheat Cultivar Sample Detail {% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-body">
        <h3> Wheat Cultivar Sample {{ sample.bpa_id }} Information</h3>
    </div>
    <table id="info" class="table table-striped">
        <tbody>
            <tr>
                <td> Sample Name</td>
                <td> {{ sample.name }}</td>
            </tr>
            <tr>
                <td> Source Name</td>
                <td> {{ sample.source_name }}</td>
            </tr>
            <tr>
                <td> Cultivar Code</td>
                <td> {{ sample.cultivar_code}}</td>
            </tr>
            <tr>
                <td> Variety</td>
                <td> {{ sample.variety }}</td>
            </tr>
            <tr>
                <td> Sample Label</td>
                <td> {{ sample.sample_label}}</td>
            </tr>
            <tr>
                <td> Organism</td>
                <td> {{ sample.organism }}</td>
            </tr>
            <tr>
                <td> Organism Part</td>
                <td> {{ sample.organism_part }}</td>
            </tr>
            <tr>
                <td> Pedigree </td>
                <td> {{ sample.pedigree }}</td>
            </tr>
            <tr>
                <td> Developmental Stage </td>
                <td> {{ sample.dev_stage }}</td>
            </tr>
            <tr>
                <td> Yield Properties </td>
                <td> {{ sample.yield_properties }}</td>
            </tr>
            <tr>
                <td> Morphology </td>
                <td> {{ sample.morphology }}</td>
            </tr>
            <tr>
                <td> Maturity </td>
                <td> {{ sample.maturity }}</td>
            </tr>
            <tr>
                <td> Pathogen Tolerance </td>
                <td> {{ sample.pathogen_tolerance }}</td>
            </tr>
            <tr>
                <td> Drought Tolerance </td>
                <td> {{ sample.drought_tolerance }}</td>
            </tr>
            <tr>
                <td> Soil Tolerance </td>
                <td> {{ sample.soil_tolerance }}</td>
            </tr>
            <tr>
                <td> Classification </td>
                <td> {{ sample.classification }}</td>
            </tr>
            <tr>
                <td> GRIS </td>
                <td> <a href="{{ sample.url }}"> {{ sample.url }} </a></td>
            </tr>
        </tbody>
    </table>
</div>

{% include "sequencefilelist.html" %}

{% endblock %}
