<table id="sitelist" class="table table-striped">
    <thead>
    <tr>
        <th class="name">Site Name</th>
        <th class="lat">Latitude</th>
        <th class="lng">Longitude</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
    <tr>
        <td class="name">
            <a href="{% url 'gbr:site' site.pk %}">{{ site.get_name }}</a>
        </td>
        <td class="lat">{{ site.lat }}</td>
        <td class="lng">{{ site.lon }}</td>
        <td>{{ site.note }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $(function () {
            $("#sitelist").tablesorter();
        });
    });
</script>

