{% extends "common/geographic_map.html" %}
{% load leaflet_tags %}
{% block title %}GBR Coral Collection Site Detail {% endblock %}


{% block content %}
<script type="text/javascript">
    var collectionsite = [{{site.lat}}, {{site.lon}}];
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% leaflet_map "site_map" callback="BPAM.map_init_detail" %}
        </div>
        <div class="col-md-4">
            <h3 class="unstacked">GBR Coral Collection Site <a class="name" href="{% url 'gbr:site' site.pk %}"> {{ site.get_name }}</a></h3>
            <div>
                <table id="collectionsite" class="table">
                    <tbody>
                    <tr>
                        <td><b>Latitude</b></td>
                        <td class="lat">{{ site.lat }}</td>
                    </tr>
                    <tr>
                        <td><b>Longitude</b></td>
                        <td class="lgn">{{ site.lon }}</td>
                    </tr>
                    <tr>
                        <td><b>Note</b></td>
                        <td>{{ site.comments|default:"" }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
