{% extends "common/geographic_map.html" %}
{% load leaflet_tags %}

{% block title %}Great Barrier Reef Collection events {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Great Barrier Reef" "gbr:index" %}
{% breadcrumb "Collections" "gbr:collections" %}
{% endblock %}

{% block content %}
{% if collections %}
<div class="container-fluid">

    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="fancytable">
        <thead>
            <tr>
                <th>Site Name</th>
                <th>Collection Date</th>
                <th>Collector</th>
                <th class="lat">Latitude</th>
                <th class="lng">Longitude</th>
                <th>Water Temperature</th>
                <th>Water pH</th>
                <th>Water Depth</th>
                <th>Note</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Site Name</th>
                <th>Collection Date</th>
                <th>Collector</th>
                <th class="lat">Latitude</th>
                <th class="lng">Longitude</th>
                <th>Water Temperature</th>
                <th>Water pH</th>
                <th>Water Depth</th>
                <th>Note</th>
            </tr>
        </tfoot>
        <tbody>
            {% for collectionevent in collections %}
            <tr>
                <td>{{ collectionevent.site.get_name }}</td>
                <td>{{ collectionevent.collection_date }}</td>
                <td>{{ collectionevent.collector }}</td>
                <td class="lat">{{ collectionevent.lat }}</td>
                <td class="lng">{{ collectionevent.lon }}</td>
                <td>{{ collectionevent.water_temp|default:""}}</td>
                <td>{{ collectionevent.water_ph|default:""}}</td>
                <td>{{ collectionevent.depth|default:"" }}</td>
                <td>{{ collectionevent.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h3> No Great Barrier Reef collection events are currently available</h3>
{% endif %}
{% endblock %}
