{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-2">
            <address>
                <strong> Dr. Anna Fitzgerald </strong><br>
                Project Manager <br>
                Bioplatforms Australia Ltd<br>
                Level 4, Bldg F7B, Research Park Drive<br>
                Macquarie University, NSW, 2109, Australia<br>
                Phone: +612 9850 1174 <br>
                Mobile: +612 451 374 641<br>
                Fax: +612 9850 6200<br>
                <a href="mailto:afitzgerald@bioplatforms.com"> afitzgerald@bioplatforms.com</a><br>
                <a href="www.bioplatforms.com">www.bioplatforms.com</a>
            </address>
        </div>

        <div class="col-sm-2">
            <address>
                <strong> Dr. Catherine Shang </strong><br>
                Project Manager <br>
                Bioplatforms Australia Ltd<br>
                Level 4, Bldg F7B, Research Park Drive<br>
                Macquarie University, NSW, 2109, Australia<br>
                Phone: +612 9850 8171 <br>
                Mobile: +61 414 136 821<br>
                Fax: +612 9850 6200<br>
                <a href="mailto: cshang@bioplatforms.com"> cshang@bioplatforms.com</a><br>
                <a href="www.bioplatforms.com">www.bioplatforms.com</a>
            </address>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2">
            <h3> Coral genome and transcript data</h3>
            <address>
                <strong>Sylvain Foret</strong><br>
                Evolution, Ecology and Genetics<br>
                Gould Building #116<br>
                Research School of Biology<br>
                The Australian National University (ANU)<br>
                Canberra ACT 0200<br>
                Sylvain Foret<br>
                Phone: (02) 6125 0563<br>
                <a href="mailto: sylvain.foret@anu.edu.au">sylvain.foret@anu.edu.au</a>
            </address>
        </div>

        <div class="col-sm-2">
            <h3>Microbial metagenome and metatranscript data</h3>
            <address>
                <strong>Michael Imelfort</strong>
                Australian Centre for Ecogenomics</br>
                Level 5, Molecular Biosciences Bldg</br>
                University of Queensland
                ST LUCIA QLD 4072
                Mike Imelfort
                Phone: (07) 3365 4957
                Email: m.imelfort@uq.edu.au
            </address>
        </div>

        <div class="col-sm-2">
            <h3>Symbiodinium genome data</h3>
            <address>
                <strong>Cheong Xin Chan</strong><br>
                Institute for Molecular Bioscience<br>
                University of Queensland<br>
                ST LUCIA QLD 4072<br>
                CX Chan<br>
                Phone: (07) 33462619<br>
                <a href="mailto: c.chan1@imb.uq.edu.au">c.chan1@imb.uq.edu.au</a>
            </address>
        </div>
    </div>

</div>
{% endblock %}
