{% extends "base.html" %} 
{%load staticfiles %} 

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Great Barrier Reef" "gbr:index" %}
{% endblock %}
{% block title %}Great Barrier Reef{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="well">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'gbr/coral.png' %}" alt="BASE">Image courtesy of Gary Cranitch
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">

                <h2> Great Barrier Reef </h2>

                The Sea-quence Project is generating core genetic data for corals from the Great
                Barrier Reef and Red Sea to ultimately help guide reef management
                practices.

                The project aims to sequence the genomes of 10 coral species across 6 different
                coral types, 3-4 algal symbionts and generate a new suite of
                microbial symbiont sequence data. This project is an initiative
                of the ReFuGe 2020 Consortium. Membership of the consortium
                includes:

                <ul>
                    <li> Great Barrier Reef Foundation </li>
                    <li> James Cook University </li>
                    <li> Australian Institute of Marine Science </li>
                    <li> University of Queensland </li>
                    <li> The Great Barrier Reef Marine Park Authority </li>
                    <li> King Abdullah University of Science and Technology (Saudi Arabia) </li>
                    <li> Australian National University </li>
                    <li> Bioplatforms Australia </li>
                </ul>
                For more information please visit:
                <a href="http://www.bioplatforms.com/great-barrier-reef/">
                    http://www.bioplatforms.com/great-barrier-reef/
                </a>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'gbr:samples' %}">Samples <span class="badge">{{ sample_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'gbr_amplicon:index' %}">Amplicons <span class="badge">{{ amplicon_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'gbr:sequencefiles' %}">Sequence Files <span class="badge">{{ file_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'gbr:sites' %}">Collection Sites <span class="badge">{{ collection_sites_count }}</span></a>
                    <a class="list-group-item" href="{% url 'gbr:collections' %}">Collection Events <span class="badge">{{ collection_events_count }}</span></a>
                    <a class="list-group-item" 
                       href="https://downloads.bioplatforms.com/bpa/gbr/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Downloads
                    </a>
                    <a class="list-group-item" 
                       href="{% url 'gbr:contacts' %}">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        Contacts
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
