{% extends "base.html" %}
{% block title %}Great Barrier Reef{% endblock %}

{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <img src="{% static 'gbr/coral.jpg' %}" alt="BASE">
        <h2>
            <a> Great Barrier Reef</a>
        </h2>

        <div class="list-group">
            <a class="list-group-item" href="{% url 'gbr:samples' %}">Samples</a>
            <a class="list-group-item" href="{% url 'gbr:sequencefiles' %}">Sequence Files</a>
        </div>
    </div>
{% endblock %}
