{% extends "base.html" %}
{% block title %}Great Barrier Reef{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-5 col-md-5">
                <img class="img-responsive img-rounded" src="{% static 'gbr/coral.jpg' %}" alt="BASE">
            </div>

            <div class="col-sm-5 col-md-5">
                <h2> Great Barrier Reef </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'gbr:samples' %}">Samples</a>
                    <a class="list-group-item" href="{% url 'gbr:sequencefiles' %}">Sequence Files</a>
                    <a class="list-group-item" href="{% url 'gbr:collections' %}">Collection Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
