{% extends "base.html" %}

{% block title %}Great Barrier Reef Listing{% endblock %}
 
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Great Barrier Reef" "gbr:index" %}
{% breadcrumb "Sequence Files" "gbr:sequencefiles" %}
{% endblock %}

{% block content %}
{% if sequencefiles %}

{% include "gbr/sequencefile_table.html" %}
{% include "pagination.html" %}

{% else %}
<h3> No GBR Sequence Data is currently available </h3>
{% endif %}

{% endblock %}
