<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons">
        <button type="button" class="reset btn" data-column="0" data-filter="">
            <i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i>
            Reset filters
        </button>
    </div>
</div>
<table class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Filename</th>
            <th>MD5</th>
            <th>Sample Name</th>
            <th>Run Date</th>
            <th>Run Description</th>
        </tr>
    </thead>
    <tbody>
        {% for sfile in sequencefiles %}
        <tr>
            <td>
                {% if sfile.url_verification.status_ok %}
                <span title="Last checked {{ sfile.url_verification.checked_at }}"
                      class="glyphicon glyphicon-download"></span>
                {% else %}
                <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}"
                      class="glyphicon glyphicon-flag"></span>
                {% endif %}
                <a href="{% url 'gbr:sample' sfile.sample.bpa_id %}">{{ sfile.sample.bpa_id }}</a>
            </td>
            <td><a href="{{ sfile.get_url }}">{{ sfile.filename }}</a></td>
            <td style="font-family: monospace">{{ sfile.md5 }}</td>
            <td>{{ sfile.sample.name }}</td>
            <td>{{ sfile.date_received_from_sequencing_facility }}</td>
            <td>{{ sfile.run }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Filename</th>
            <th>MD5</th>
            <th>Sample Name</th>
            <th>Run Date</th>
            <th>Run Description</th>
        </tr>
        <tr>
            <th colspan="6" class="ts-pager form-horizontal">
                <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                <select class="pagesize input-mini" title="Select page size">
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
                <select class="pagenum input-mini" title="Select page number"></select>
            </th>
        </tr>
    </tfoot>
</table>
