<table id="sequence-list" class="table table-striped">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Filename</th>
            <th>Sample Name</th>
            <th>Run</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.sample.bpa_id }}</td>
            <td><a href="{{obj.get_url}}">{{ obj.filename }}</a></td>
            <td>{{ obj.sample.name }}</td>
            <td>{{ obj.date_received_from_sequencing_facility}}</td>
            <td>{{ obj.run }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
