{% extends "base.html" %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Barcode" "barcode:index" %}
{% breadcrumb "Contacts" "barcode:contacts" %}

{% endblock %}
{% block title %}Great Barrier Reef{% endblock %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-sm-2">
            <address>
                <strong>Ellen van Dam, PhD </strong><br> 
                Operations Manager<br>
                Bioplatforms Australia Ltd<br>
                Level 4, Bldg F7B, Research Park Drive<br>
                Macquarie University, NSW, 2109, Australia<br>
                Phone: +612 9850 6247<br>
                Mobile: +61 405 438 228<br>
                Fax: +612 9850 6200 <br>
                <a href="mailto:evandam@bioplatforms.com"> evandam@bioplatforms.com</a><br>
                <a href="www.bioplatforms.com">www.bioplatforms.com</a>
            </address>
        </div>
        <div class="col-sm-2">
            <address>
                <strong>Prof Andrew Lowe </strong><br>
                University of Adelaide<br>
                Phone: +61 883 131 149 <br>
                <a href="mailto:andrew.lowe@adelaide.edu.au ">andrew.lowe@adelaide.edu.au></a><br>
            </address>
        </div>
    </div>
</div>
{% endblock %}
