{% extends "base_project_overview.html" %}

{% block title %}Stem Cells Project Overview{% endblock %}

{% load static from staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Stem Cells" "stemcell:index" %}
{% breadcrumb "Stem Cells Project Overview" "" %}
{% endblock %}

{% block extra_head %}
{{ block.super }}

<script>
  var PO_CONF = {
    project_name: 'stemcell',
    project_overview_count_url: '{% url "ckan:stemcell_project_overview_count" %}',
    urls: {
        'stemcells-metabolomic': "{% url 'ckan:package_list' 'bpa-stemcells' 'stemcells-metabolomic' %}",
        'stemcells-proteomic': "{% url 'ckan:package_list' 'bpa-stemcells' 'stemcells-proteomic' %}",
        'stemcells-singlecellrnaseq' : "{% url 'ckan:package_list' 'bpa-stemcells' 'stemcells-singlecellrnaseq' %}",
        'stemcells-smallrna' : "{% url 'ckan:package_list' 'bpa-stemcells' 'stemcells-smallrna' %}",
        'stemcells-transcriptomics' : "{% url 'ckan:package_list' 'bpa-stemcells' 'stemcells-transcriptomics' %}"
    },
    top_level_nodes: [
        ['Metabolomic', 'stemcells-metabolomic'],
        ['Proteomic', 'stemcells-proteomic'],
        ['Single cell RNA seq', 'stemcells-singlecellrnaseq'],
        ['Small RNA', 'stemcells-smallrna'],
        ['Transcriptomics', 'stemcells-transcriptomics']
    ]
  };
</script>

{% endblock %}
