{% extends "base.html" %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sepsis" "sepsis:index" %}
{% breadcrumb "Contacts" "sepsis:contacts" %}

{% endblock %}
{% block title %}Sepsis{% endblock %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-sm-2">
      <address>
        <strong> Dr. Anna Fitzgerald </strong><br>
        Project Manager <br>
        Bioplatforms Australia Ltd<br>
        Level 4, Bldg F7B, Research Park Drive<br>
        Macquarie University, NSW, 2109, Australia<br>
        Phone: +612 9850 1174 <br>
        Mobile: +612 451 374 641<br>
        Fax: +612 9850 6200<br>
        <a href="mailto:afitzgerald@bioplatforms.com"> afitzgerald@bioplatforms.com</a><br>
        <a href="http://www.bioplatforms.com">www.bioplatforms.com</a>
      </address>

      <address>
        <strong> Dr David De Souza </strong><br>
        Metabolomics Australia, Project Leader<br>
        Bio21 Institute<br>
        30 Flemington Road<br>
        The University of Melbourne<br>
        Parkville, VIC 3010, Australia<br>
        Phone: +61 3 8344 2487 <br>
        Mobile: +61 419 771 275<br>
        desouzad@unimelb.edu.au
        <a href="mailto:desouzad@unimelb.edu.au">desouzad@unimelb.edu.au</a><br>
        <a href="http://www.metabolomics.net.au">http://www.metabolomics.net.au</a>
      </address>

    </div>
    <div class="row">
      <div class="col-sm-2">
        <address>
          <strong> Dr Mabel Lum </strong><br>
          Project Administrator for Bioplatforms Sepsis Project <br>
          AGRF, Plant Genomics Centre <br>
          Hartley Grove <br>
          University of Adelaide, Waite Campus <br>
          Urrbrae, SA 5064, Australia<br>
          Phone: +61 8 8313 7206<br>
          Mobile: +61 435 387 007<br>
          <a href="mailto:mlum@bioplatforms.com"> mlum@bioplatforms.com</a><br>
          <a href="http://www.bioplatforms.com">www.bioplatforms.com</a>
        </address>
      </div>

    </div>
  </div>
</div>
{% endblock %}
