{% extends "base.html" %}

{% block title %}Sepsis {{ description }} Sequence Files{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Sepsis Pathogens" "sepsis:index" %}
{% breadcrumb breadcrumb_name breadcrumb_target %}
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"> </div>
  </div>
  <table class="apitable" width="100%">
    <thead>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Taxon Or Organism</th>
        <th>Strain Or Isolate</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Sample ID</th>
        <th>BPA ID</th>
        <th>Taxon Or Organism</th>
        <th>Strain Or Isolate</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </tfoot>
    <tbody>
    </tbody>
  </table>
</div>


<script>
  function sepsis_file_list_setup(resource_type) {
    var url = bpam_config.ckan_base + 'resource_list/bpa-sepsis/' + resource_type;

    setup_table(function() {
      var config = _.defaults({
        columns: [{
                'data': 'package.id',
                'defaultContent': '',
                'render': function(data, type, row) {
                    var url = '{{ ckan_base_url }}' + 'dataset/' + row.package_id;
                    return '<a href="' + url + '">' + data + '</a>';
                }
              },
              { 'data': 'package.bpa_id' , 'defaultContent': ''},
              { 'data': 'package.taxon_or_organism' , 'defaultContent': ''},
              { 'data': 'package.strain_or_isolate' , 'defaultContent': ''},
              {
                  'data': 'url',
                  'defaultContent': '',
                  'render': function(data, type, row) {
                    var filename = '';
                    if (row.url) {
                      var parts = row.url.split('/');
                      filename = parts[parts.length - 1];
                    }
                    var url = '{{ ckan_base_url }}' + 'dataset/' + row.package_id + '/resource/' + row.id;
                    return '<a href="' + url + '">' + filename + '</a>';
                  }
              },
              {
                  'data': 'md5',
                  'defaultContent': '',
                  'render': function(data, type, row) {
                      return '<pre>' + data + '</pre>';
                  }
              }
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
    sepsis_file_list_setup('{{ ckan_data_type }}');
  });
</script>

{% endblock %}
