{% extends "base.html" %}

{% block title %}Sepsis Genomics Sequence Files{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Pathogens" "sepsis:index" %}
{% breadcrumb "Genomic PacBio Sequence Files" "sepsis:genomics_pacbio_files" %}
{% endblock %}

{% block content %}
{% if sequencefiles %}

<div class="container-fluid">
  <div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"> </div>
  </div>
  <table class="ccgtable" width="100%">
    <thead>
      <tr>
        <th>BPA ID</th>
        <th>Taxon Or Organism</th>
        <th>Strain Or Isolate</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>BPA ID</th>
        <th>Taxon Or Organism</th>
        <th>Strain Or Isolate</th>
        <th>Filename</th>
        <th>MD5</th>
      </tr>
    </tfoot>
    <tbody>
      {% for sfile in sequencefiles %}
      <tr>
        <td> <a href="{% url 'sepsis:sample' sfile.sample.bpa_id %}">{{ sfile.sample.bpa_id }}</a> </td>
        <td>{{ sfile.sample.taxon_or_organism }}</td>
        <td>{{ sfile.sample.strain_or_isolate }}</td>
        <td>
          {% if sfile.url_verification.status_ok %}
          <span title="Last checked {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-download"></span>
          <a href="{{ sfile.get_url }}">{{ sfile.filename }}</a>
          {% else %}
          <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-flag"></span>
          {{ sfile.filename }}
          {% endif %}
        </td>
        <td class="md5">{{ sfile.md5 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<h3> No Sepsis Genomic PacBio Sequence Data is currently available </h3>
{% endif %}

{% endblock %}
