{% extends "base.html" %} 
{%load staticfiles %} 

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Sepsis Pathogens" "sepsis:index" %}
{% endblock %}
{% block title %}Antibiotic Resistant Sepsis Pathogens{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="well">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'sepsis/sepsis.png' %}" alt="SEPSIS">
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">

                <h2>Antibiotic Resistant Sepsis Pathogens</h2>
                <p>
                    The Antibiotic Resistant Sepsis Pathogens Framework Initiative aims to develop a framework
                    dataset that will enable identification of core targets common to antibiotic-resistant
                    sepsis pathogens. The project aims to use an integrated multi-omics approach and brings
                    together genomics, transcriptomics, bioinformatics, proteomics and metabolomics expertise
                    across the Bioplatforms Australia network. Five clinical strains of Escherichia coli,
                    Klebsiella pneumoniae, Streptococcus pneumoniae, Staphylococcus aureus and
                    Streptococcus pyogenes selected by members of the consortium will form the core of the
                    project.
                </p>

                For more information please visit:
                <a href="http://www.bioplatforms.com/antibiotic-resistant-pathogens">
                    http://www.bioplatforms.com/antibiotic-resistant-pathogens/
                </a>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'sepsis:samples' %}">Samples <span class="badge">{{ sample_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'sepsis:genomics_miseq_files' %}">Genomics Miseq Sequence <span class="badge">{{ genomics_miseq_file_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'sepsis:genomics_pacbio_files' %}">Genomics PacBio Sequence <span class="badge">{{ genomics_pacbio_file_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'sepsis:transcriptomics_hiseq_files' %}">Transcriptomics Hiseq Sequence <span class="badge">{{ transcriptomics_hiseq_file_count }}</span> </a>
                    <a class="list-group-item" href="">Proteomics MS1 quantification on DDA data <span class="badge">{{ proteomics_analysis_file_count }}</span> </a>
                    <a class="list-group-item" href="">Proteomics MS2 quantification on DIA/SWATH data <span class="badge">{{ proteomics_analysis_file_count }}</span> </a>
                    <a class="list-group-item" href="">Metabolomics LCMS analysis <span class="badge">{{ metabolomics_analysis_file_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'sepsis:overview' %}">Project Overview</a>
                    <a class="list-group-item"
                       href="https://downloads.bioplatforms.com/bpa/sepsis/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Downloads
                    </a>
                    <!-- could not get reverse named lookup for drf to work FIXME -->

                    <a class="list-group-item"
                       href="{% url 'sepsis:consortium' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Consortium Participants
                    </a>
                    <a class="list-group-item"
                       href="{% url 'sepsis:contacts' %}">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        Contacts
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
