{% extends "base.html" %} 
{%load staticfiles %} 

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Sepsis" "sepsis:index" %}
{% endblock %}
{% block title %}Sepsis{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="well">
        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'sepsis/sepsis.png' %}" alt="SEPSIS">
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">

              <h2>Sepsis</h2>
              <p>
                The Sepsis Framework Initiative aims to develop a framework
                dataset that will enable identification of core targets common
                to antibiotic-resistant sepsis pathogens. The project aims to
                use an integrated multi-omics approach and brings together
                genomics, transcriptomics, bioinformatics, proteomics and
                metabolomics expertise across the Bioplatforms Australia
                network. Five clinical strains of Escherichia coli, Klebsiella
                pneumoniae, Streptococcus pneumoniae, Staphylococcus aureus and
                Streptococcus pyogenes selected by members of the consortium
                will form the core of the project.
              </p>

              Membership of the consortium includes:
              <ul>
                <li> University of Queensland </li>
                <li> University of Melbourne </li>
                <li> Monash University </li>
                <li> The Peter Doherty Institute for Infection and Immunity </li>
                <li> Microbiological Diagnostic Unit Public Health Laboratory </li>
                <li> University of Sydney </li>
                <li> University of Technology Sydney </li>
                <li> University of Adelaide </li>
                <li> Bioplatforms Australia </li>
                <li> Research Data Services </li>
              </ul>

              For more information please visit:
              <a href="http://www.bioplatforms.com/">
                http://www.bioplatforms.com/antibiotic-resistant-pathogens/
              </a>
            </div>

            <div class="col-sm-5 col-md-5 col-lg-3">
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'sepsis:samples' %}">Samples <span class="badge">{{ sample_count }}</span> </a>
                    <a class="list-group-item" href="{% url 'sepsis:genomics_miseq_files' %}">Genomics Miseq Files <span class="badge">{{ genomics_miseq_file_count }}</span> </a>
                    <a class="list-group-item" 
                       href="https://downloads.bioplatforms.com/bpa/sepsis/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Archive
                    </a>
                    <a class="list-group-item" 
                       href="/sepsis/api/v1/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        API
                    </a>
                    <a class="list-group-item" 
                       href="{% url 'sepsis:contacts' %}">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                        Contacts
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
