{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Pathogens" "sepsis:index" %}
{% breadcrumb "Samples" "sepsis:samples" %}
{% endblock %}

{% block title %}Sepsis Samples {% endblock %}

{% block content %}

{% if samples %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="ccgtable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Gram Staining</th>
                <th>Serovar</th>
                <th>Strain Description</th>
                <th>Key Virulence Genes</th>
                <th>Isolation Source</th>
                <th>Publication Reference</th>
                <th>Contact Researcher</th>
                <th>Collection Date</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Gram Staining</th>
                <th>Serovar</th>
                <th>Strain Description</th>
                <th>Key Virulence Genes</th>
                <th>Isolation Source</th>
                <th>Publication Reference</th>
                <th>Contact Researcher</th>
                <th>Collection Date</th>
            </tr>
        </tfoot>
        <tbody>
            {% for sample in samples %}
            <tr>
                <td>
                    <a href="{% url 'sepsis:sample' sample.pk %}">{{ sample.bpa_id }}</a>
                </td>
                <td>{{ sample.taxon_or_organism }}</td>
                <td>{{ sample.strain_or_isolate }}</td>
                <td>{{ sample.gram_stain }}</td>
                <td>{{ sample.serovar }}</td>
                <td>{{ sample.strain_description }}</td>
                <td>{{ sample.key_virulence_genes }}</td>
                <td>{{ sample.isolation_source }}</td>
                <td>{{ sample.publication_reference }}</td>
                <td>{{ sample.contact_researcher }}</td>
                <td>{{ sample.culture_collection_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3> No Sepsis Sample Data is currently available </h3>
    {% endif %}
</div>
{% endblock %}
