{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Sepsis Pathogens" "sepsis:index" %}
{% breadcrumb "Samples" "sepsis:samples" %}
{% endblock %}

{% block title %}Sepsis Samples {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="apitable" width="100%">
        <thead>
            <tr>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Gram Staining</th>
                <th>Serovar</th>
                <th>Strain Description</th>
                <th>Key Virulence Genes</th>
                <th>Isolation Source</th>
                <th>Publication Reference</th>
                <th>Contact Researcher</th>
                <th>Collection Date</th>
                <th>Culture Collection ID</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Gram Staining</th>
                <th>Serovar</th>
                <th>Strain Description</th>
                <th>Key Virulence Genes</th>
                <th>Isolation Source</th>
                <th>Publication Reference</th>
                <th>Contact Researcher</th>
                <th>Collection Date</th>
                <th>Culture Collection ID</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>

<script>
  function sepsis_samples_setup() {
    var url = bpam_config.ckan_base + 'sepsis_contextual_data/';

    setup_table(function() {
      var config = _.defaults({
        searching: true,

        columns: [
            { 'data': 'taxon_or_organism' , 'defaultContent': ''},
            {
              'data': 'strain_or_isolate',
              'defaultContent': '',
              'searchable': false,
              'render': function(data, type, row) {
                  var tag = (row.taxon_or_organism + '_' + row.strain_or_isolate).replace(' ', '_');
                  var url = '{{ ckan_base_url }}' + 'organization/' + row.owner_org + '?tags=' + tag + '&_tags_limit=0';
                  return '<a href="' + url + '">' + data + '</a>';
              }
            },
            { 'data': 'gram_stain' , 'defaultContent': ''},
            { 'data': 'serovar' , 'defaultContent': ''},
            { 'data': 'strain_description' , 'defaultContent': ''},
            { 'data': 'key_virulence_genes' , 'defaultContent': ''},
            { 'data': 'isolation_source' , 'defaultContent': ''},
            { 'data': 'publication_reference' , 'defaultContent': ''},
            { 'data': 'contact_researcher' , 'defaultContent': ''},
            { 'data': 'culture_collection_date' , 'defaultContent': ''},
            { 'data': 'culture_collection_id' , 'defaultContent': ''},
        ]
      }, CONFIG.tables.ajaxConfig);

      config.ajax.url = url;

      return config;
    });
  };

  $(document).ready(function() {
     sepsis_samples_setup();
  });
</script>

{% endblock %}
