{% extends "base_simple.html" %}

{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
    $(document).ready(function(){
        $("#tree").on('select_node.jstree', function (e, data) {
            var url = "{% url 'sepsis:overview_detail' 'xxx' 'yyy' %}";
            
            if (data.node.parent != "#") {
                var params = data.node.id.split("/");
                var call = url.replace('xxx', params[0]).replace('yyy', params[1]);

                $.ajax({
                    url: call,
                }).done(function( data ) {
                    var parsed = jQuery.parseJSON(data);
                    $("#content").html("<tr><td>" + call + "</td></tr>");
                });
            }            
        }).jstree({
            'core' : {
              'data' : {
                'url' : function (node) {
                    return "{% url 'sepsis:overview_constraints' %}";
                }
              }
            },
            "plugins" : [ "state" ]
        });
        
        $("#tree-toggle-btn").on('click', function() {
            if ( $("#tree-col").is(":hidden") ) {
                $("#content-col").removeClass("col-md-12");
                $("#content-col").addClass("col-md-10");
                $("#tree-col").show("slow");
                $("#tree-toggle-btn").html("Hide tree");
            } else {
                $("#tree-col").hide("slow", function() {
                    $("#content-col").removeClass("col-md-10");
                    $("#content-col").addClass("col-md-12");
                    $("#tree-toggle-btn").html("Show tree");
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3>Antibiotic Resistant Pathogens - Overview - {{ constraint }}</h3>
</div>

<hr>

<div class="container-fluid">
    <div class="btn btn-default btn-sm" id="tree-toggle-btn">Hide tree</div>
</div>

<div class="container-fluid">

<div class="row">
    <div class="col-md-2" id="tree-col">
        <div id="tree">
        </div>
    </div>

    <div class="col-md-10" id="content-col">
        <div class="alert alert-info" role="alert">
            To sort by multiple columns, press and hold the Shift key.
            <div class="bootstrap_buttons"> </div>
        </div>
        <table class="ccgtable" width="100%">
            <thead>
                <tr>
                    <th>BPA ID</th>
                    <th>Taxon Or Organism</th>
                    <th>Strain Or Isolate</th>
                    <th>Serovar</th>
                    <th>Growth Media</th>
                    <th>Replicate</th>
                    <th>Omics</th>
                    <th>Analytical Platform</th>
                    <th>Facility</th>
                    <th>Contextual Data Submission Date</th>
                    <th>Sample Submission Date</th>
                    <th>Data generated</th>
                    <th>Archive Ingestion Date</th>
                </tr>
            </thead>
            <tbody id="content">
            </tbody>
        </table>
    
    </div>
</div>
{% endblock %}
