{% extends "base_simple.html" %}

{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css"
      integrity="sha256-sbTY4/3NU+qqsJIrxYuJXgOTjF75tfKYOVu+DEdV+cA= sha384-wd7GF/BlZaKbO07QcE6J32f+vLIVar4Qyo7n4601xPjaOS3KuhkoMARpLOOvI4XI sha512-z7TDQTYQF39S87Lt3oi9I5RSsV4SSo7Pmwj4+FXZTXuKxzIzqP6C5uo00RyajhFwncuty57b1s1slkvpj5YLHw=="
      crossorigin="anonymous"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"
        integrity="sha256-lK8O5StczSYl4DweTw0KlopBgYKtiwLSq6BbSSe77Kk= sha384-3xJpTAehKTp8sw2H5VBvFFFeUdcxlxQYYyML7JGy/N8CdC+Ij8AALUibuWZRjiJq sha512-MR6zYveOuENWQVCZ6oDvrbySpOsDwGLoKxPt3p0dM/Ce3nZk+IqFgqr+qx94WtM84THJJOmGHMwazsUJn43RhQ=="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        
        var yes_icon = "{% static 'sepsis/icon-yes.gif' %}";
        var no_icon = "{% static 'sepsis/icon-no.gif' %}";
        var sample_url = "{% url 'sepsis:sample' 'xxx' %}";
        
        var status = {
            'inproc': 'Sample processing',
            'bpaarchiveingest': 'BPA Archive Ingest',
            'bpaqc': 'BPA QC',
            'embargoed': 'Embargoed',
            'public': 'Public'
        };
        
        function generated_icon(item) {
            if (item) {
                return "<img src='"+ yes_icon +"' alt='Yes' />";
            } else {
                return "<img src='"+ no_icon +"' alt='No' />";
            }
        }
        
        function get_url(bpaid) {
            return "<a href='"+sample_url.replace('xxx', bpaid) + "'>" + bpaid + "</a>";
        }
        
        $("#tree").on('select_node.jstree', function (e, data) {
            var url = "{% url 'sepsis:overview_detail' 'xxx' 'yyy' %}";

            if (data.node.parent != "#") {
                var params = data.node.id.split("/");
                var call = url.replace('xxx', params[0]).replace('yyy', params[1]);
                
                $("#selected").html(params[0] + " - " + status[params[1]]);

                $.ajax({
                    url: call,
                }).done(function( data ) {
                    var parsed = jQuery.parseJSON(data);
                    var t = $("#content-table").DataTable();
                    t.rows().remove().draw();
                    if(parsed.length > 0) {
                        $.each(parsed, function(i, data) {
                            t.row.add([
                                get_url(data.fields.bpa_id),
                                data.fields.data_type,
                                data.fields.taxon_or_organism,
                                data.fields.strain_or_isolate,
                                data.fields.serovar,
                                data.fields.growth_media,
                                data.fields.replicate,
                                data.fields.omics,
                                data.fields.analytical_platform,
                                data.fields.facility,
                                data.fields.contextual_data_submission_date,
                                data.fields.sample_submission_date,
                                generated_icon(data.fields.data_generated),
                                data.fields.archive_ingestion_date
                            ]).draw();
                        });
                    }
                });
            }
        }).jstree({
            'core' : {
              'data' : {
                'url' : function (node) {
                    return "{% url 'sepsis:overview_constraints' %}";
                }
              }
            },
            "plugins" : [ "state" ]
        });
        
        $("#tree-toggle-btn").on('click', function() {
            if ( $("#tree-col").is(":hidden") ) {
                $("#content-col").removeClass("col-md-12");
                $("#content-col").addClass("col-md-10");
                $("#tree-col").show("slow");
                $("#tree-toggle-btn").html("Hide tree");
            } else {
                $("#tree-col").hide("slow", function() {
                    $("#content-col").removeClass("col-md-10");
                    $("#content-col").addClass("col-md-12");
                    $("#tree-toggle-btn").html("Show tree");
                });
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3>Antibiotic Resistant Pathogens - Overview</h3>
</div>

<hr>

<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-2">
            <div class="btn btn-warning btn-sm" id="tree-toggle-btn">Hide tree</div>
        </div>
        <div class="col-md-2">
            <h4>
                <div id="selected"></div>
            </h4>
        </div>
        <div class="col-md-8">
            <div class="bootstrap_buttons pull-right"> </div>
        </div>
    </div>

</div>

<div class="container-fluid">
<br>
<div class="row">

    <div class="col-md-2" id="tree-col">
        <div id="tree">
        </div>
    </div>

    <div class="col-md-10" id="content-col">
        <table class="ccgtable" width="100%" id="content-table">
            <thead>
                <tr>
                    <th>BPA ID</th>
                    <th>Data Type</th>
                    <th>Taxon Or Organism</th>
                    <th>Strain Or Isolate</th>
                    <th>Serovar</th>
                    <th>Growth Media</th>
                    <th>Replicate</th>
                    <th>Omics</th>
                    <th>Analytical Platform</th>
                    <th>Facility</th>
                    <th>Contextual Data Submission Date</th>
                    <th>Sample Submission Date</th>
                    <th>Data generated</th>
                    <th>Archive Ingestion Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    
    </div>
</div>
{% endblock %}
