{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load staticfiles %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Antibiotic Resistant Pathogens" "sepsis:index" %}
{% breadcrumb "Samples Tracking" "sepsis:samples" %}
{% endblock %}

{% block title %}Sepsis Sample Tracking {% endblock %}

{% block content %}

{% if sampletracks %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="ccgtable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Data Type</th>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Serovar</th>
                <th>Growth Media</th>
                <th>Replicate</th>
                <th>Omics</th>
                <th>Analytical Platform</th>
                <th>Facility</th>
                <th>Contextual Data Submission Date</th>
                <th>Sample Submission Date</th>
                <th>Data generated</th>
                <th>Archive Ingestion Date</th>
                <th>Download</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Data Type</th>
                <th>Taxon Or Organism</th>
                <th>Strain Or Isolate</th>
                <th>Serovar</th>
                <th>Growth Media</th>
                <th>Replicate</th>
                <th>Omics</th>
                <th>Analytical Platform</th>
                <th>Facility</th>
                <th>Contextual Data Submission Date</th>
                <th>Sample Submission Date</th>
                <th>Data generated</th>
                <th>Archive Ingestion Date</th>
                <th>Download</th>

            </tr>
        </tfoot>
        <tbody>
            {% for track in sampletracks %}
            <tr>
                <td>
                    <a href="{% url 'sepsis:sample' track.bpa_id %}">{{ track.bpa_id.get_short_name }}</a>
                </td>
                <td>{{ track.get_data_type_display }}</td>
                <td>{{ track.taxon_or_organism | default:"" }}</td>
                <td>{{ track.strain_or_isolate | default:""}}</td>
                <td>{{ track.serovar | default:""}}</td>
                <td>{{ track.growth_media | default:""}}</td>
                <td>{{ track.replicate | default:""}}</td>
                <td>{{ track.omics | default:""}}</td>
                <td>{{ track.analytical_platform | default:""}}</td>
                <td>{{ track.facility | default:""}}</td>
                <td>{{ track.contextual_data_submission_date | default:""}}</td>
                <td>{{ track.sample_submission_date | default:""}}</td>
                <td>
                    {% if track.data_generated %}
                    <img src="{% static 'sepsis/icon-yes.gif' %}" alt="Yes" />
                    {% else %}
                    <img src="{% static 'sepsis/icon-no.gif' %}" alt="No" />
                    {% endif %}
                </td>
                <td>{{ track.archive_ingestion_date | default:""}}</td>
                <td>{{ track.dataset_url | default:""}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3> No Sepsis Tracking Data is currently available </h3>
    {% endif %}
</div>
{% endblock %}
