<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    <title>{% block title %}{% endblock %} | BioPlatforms Australia Metadata</title>

{% load static from staticfiles %}
{% load bootstrap3 %}
{% load commontags %}

{% bootstrap_javascript jquery=True %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.13.3/jquery.tablesorter.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.2/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

    {% bootstrap_css %}

    <link href="{% static "base.css" %}" rel="stylesheet" />

    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'landing-page' %}">Bioplatforms Australia Metadata</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>

          <!--
          <form id="search-form" class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input id="search-input" type="search" class="form-control" placeholder="Search" value="{{ term }}">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          -->

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log out as {{ user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'django.contrib.auth.views.login' %}">Log in</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

<div class="content-div">
    {% block content %}{% endblock %}
</div>

<div class="version">
    <p>BPA Metadata {% bpam_version %}</p>
</div>

<script src="{% static "base.js" %}"></script>

</body>
</html>

