{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <address>
                <strong> Dr. Anna Fitzgerald </strong><br>
                Project Manager <br>
                Bioplatforms Australia Ltd<br>
                Level 4, Bldg F7B, Research Park Drive<br>
                Macquarie University, NSW, 2109, Australia<br>
                Phone: +612 9850 1174 <br>
                Mobile: +612 451 374 641<br>
                Fax: +612 9850 6200<br>
                <a href="mailto:afitzgerald@bioplatforms.com"> afitzgerald@bioplatforms.com</a><br>
                <a href="http://www.bioplatforms.com">www.bioplatforms.com</a>
            </address>
        </div>
    </div>
</div>
{% endblock %}
