{% extends "base_template.html" %}

{% block title %}Great Barrier Reef {% endblock %}

{% block content %}

    <h3>Great Barrier Reef Sequence Files{% if bpa_id %} - {{ bpa_id }}{% endif %}</h3>
    <table id="sequence-list" class="table table-striped">
        <thead>
        <tr>
            <th>BPA ID</th>
            <th>DNA/RNA Source</th>
            <th>Library</th>
            <th>Library Construction</th>
            <th>Protocol</th>
            <th>Index</th>
            <th>Sequencer</th>
            <th>Filename</th>
            <th>MD5</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                {% if bpa_id %}
                    <td>{{ obj.bpa_id }}</td>
                {% else %}
                    <td><a href="{{ obj.bpa_id|replace("/", ".")}}/">{{ obj.bpa_id }}</a></td>
                {% endif %}

                <td>{{ obj.dna_rna_source }}</td>
                <td>{{ obj.library }}</td>
                <td>{{ obj.library_construction }}</td>
                <td>{{ obj.library_construction_protocol }}</td>
                <td>{{ obj.index }}</td>
                <td>{{ obj.sequencer }}</td>
                <td><a rel="nofollow" href="{{ obj.url }}">{{ obj.filename }}</a></td>
                <td>{{ obj.md5 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if bpa_id %}
<a href="../">Back to index</a>
{% endif %}

{% endblock %}
