<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Center for Comparative Genomics, Murdoch University, WA">
    <meta name="author" content="CCG">

    <title>Bioplatforms Australia Downloads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bioplatforms Australia Downloads</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://ccg.murdoch.edu.au">Contact</a></li>
                <li><a href="http://portal.bioplatforms.com/">ISA Tools</a></li>
                <li><a href="http://www.bioplatforms.com.au/">Bioplatforms Australia</a></li>
                <li><a href="http://ccg.murdoch.edu.au">CCG</a></li>
                <li><a href="https://monitor.bioplatforms.com/">Monitor</a></li>
                <li><a href="https://archive.bioplatforms.com/">BPA Cloud</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1><img src="https://s3-ap-southeast-2.amazonaws.com/ccg-logos/BPA-logo-clear.png"> </img> Bioplatforms Australia Downloads</h1>

         <h2>
            Welcome to Bioplatforms Australia's Downloads Portal
        </h2>
        
        <h3> 
            <a href="https://ccgapps.com.au/bpa-metadata/">Bioplatforms Australia Metadata Portal</a>
        </h3>

    </div>
</div>

<div class="container">
    <table class="table ">
        <thead>
        <th class="col-sm-1 glyphicon glyphicon-cog"></th>
        <th class="col-sm-1 glyphicon glyphicon-cloud-download"></th>
        <th>Sequence File Downloads</th>
        <th>Raw</th>
        <th>All</th>
        <th>Latest</th>
        <th></th>
        </thead>
        <tbody>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./barcode">Barcode</a></td>
            <td><a href="./barcode/raw/">Raw</a></td>
            <td><a href="./barcode/raw/all/">All</a></td>
            <td><a href="./barcode/latest/">Latest</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-lock"></span></td>
            <td><a href="./melanoma" >Melanoma</a></td>
            <td><a href="./melanoma/raw/">Raw</a></td>
            <td><a href="./melanoma/all.html">All</a></td>
            <td><a href="./melanoma/latest/">Latest</a></td>
            <td>
                <a href="./melanoma/lostandfound/">Top-up, </a>
                <a href="./melanoma/CytoSNP/">Cyto SNP</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-lock"></span></td>
            <td><a href="./gbr">Great Barrier Reef</a></td>
            <td><a href="./gbr/raw/">Raw</a></td>
            <td><a href="./gbr/raw/all/">All</a></td>
            <td><a href="./gbr/latest/">Latest</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./base">Biomes of Australian Soil Environments, Metagenomics</a></td>
            <td><a href="./base/raw/metagenomics/">Raw</a></td>
            <td><a href="./base/all.html">Flat View</a></td>
            <td><a href="./base/latest/">Latest</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./base">Biomes of Australian Soil Environments, Amplicon 16S</a></td>
            <td><a href="./base/raw/amplicon_16s/">Raw</a></td>
            <td><a href="./base/amplicons/16s/">All 16S</a></td>
            <td><a href="./base/amplicons/latest/16s/">Latest</a></td>
            <td>
                <a href="./base/amplicons/otu/16s/">16S OTU</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./base">Biomes of Australian Soil Environments, Amplicon A16S</a></td>
            <td><a href="./base/raw/amplicon_a16s/">Raw</a></td>
            <td><a href="./base/amplicons/a16s/">All A16S</a></td>
            <td><a href="./base/amplicons/latest/a16s/">Latest</a></td>
            <td>
                <a href="./base/amplicons/otu/a16s/">A16S OTU</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./base">Biomes of Australian Soil Environments, Amplicon 18S</a></td>
            <td><a href="./base/raw/amplicon_18s/">Raw</a></td>
            <td><a href="./base/amplicons/18s/">All 18S</a></td>
            <td><a href="./base/amplicons/latest/18s/">Latest</a></td>
            <td>
                <a href="./base/amplicons/otu/18s/">18S OTU</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./base">Biomes of Australian Soil Environments, Amplicon ITS</a></td>
            <td><a href="./base/raw/amplicon_its/">Raw</a></td>
            <td><a href="./base/amplicons/its/">All ITS</a></td>
            <td><a href="./base/amplicons/latest/its/">Latest</a></td>
            <td>
                <a href="./base/amplicons/otu/its/">ITS OTU</a>
            </td>
        </tr>

        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./wheat_cultivars">Wheat Cultivars</a></td>
            <td><a href="./wheat_cultivars/raw/">Raw</a></td>
            <td><a href="./wheat_cultivars/all/">All</a></td>
            <td><a href="./wheat_cultivars/latest/">Latest</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./wheat_pathogens">Wheat Pathogens</a></td>
            <td><a href="./wheat_pathogens/raw/">Raw</a></td>
            <td><a href="./wheat_pathogens/all/">All</a></td>
            <td><a href="./wheat_pathogens/latest/">Latest</a></td>
            <td>
                <a href="./wheat_pathogens/isolate_index.html">Isolates, </a>
                <a href="./wheat_pathogens/processed/">Processed</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./wheat_pathogens_transcript">Wheat Pathogens Transcript</a></td>
            <td><a href="./wheat_pathogens_transcript/raw/">Raw</a></td>
            <td><a href="./wheat_pathogens_transcript/all/">All</a></td>
            <td><a href="./wheat_pathogens_transcript/latest/">Latest</a></td>
            <td></td>
        </tr>
        <tr>
            <td><a href="https://ccgapps.com.au/bpa-metadata/admin" class="glyphicon glyphicon-cog"></a></td>
            <td><span class="glyphicon glyphicon-cloud-download"></span></td>
            <td><a href="./wheat7a">Wheat Chromosome 7a</a></td>
            <td><a href="./wheat7a/raw/">Raw</a></td>
            <td><a href="./wheat7a/all/">All</a></td>
            <td><a href="./wheat7a/latest/">Latest</a></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <footer>
        <p>&copy; <a href="http://ccg.murdoch.edu.au"> Center for Comparative Genomics, Murdoch University </a>2013, 2014</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="https://ccgmurdoch.atlassian.net/s/en_US-5aaqb5-1988229788/6080/26/1.4.0-m2/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=9e6e31d4"></script>
</body>
</html>
