{% extends "base_template.html" %}

{% block title %}Wheat Cultivars{% endblock %}

{% block content %}

<h3>Wheat Cultivars Sequence Files{% if bpa_id %} - {{ bpa_id }}{% endif %}</h3>

    <table id="sequence-list" class="table table-striped">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Variety</th>
                <th>Library</th>
                <th>Library nominal fragment size</th>
                <th>Index</th>
                <th>Sequencing instrument</th>
                <th>CASAVA version</th>
                <th>Filename</th>
                <th>MD5</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
            <tr>
            {% if bpa_id %}
                <td>{{ obj.bpa_id }}</td>
            {% else %}
                <td><a href="{{obj.bpa_id|replace("/", ".")}}/">{{ obj.bpa_id }}</a></td>
            {% endif %}
                <td>{{ obj.variety }}</td>
                <td>{{ obj.library }}</td>
                <td>{{ obj.library_nominal_fragment_size }}</td>
                <td>{{ obj.index }}</td>
                <td>{{ obj.sequencing_instrument }}</td>
                <td>{{ obj.casava }}</td>
                <td><a rel="nofollow" href="{{obj.url}}">{{ obj.filename }}</a></td>
                <td>{{ obj.md5 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if bpa_id %}
<a href="../">Back to index</a>
{% endif %}

{% endblock %}
