{% extends "base.html" %}
{% block title %}BASE{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="jumbotron">

        <div class="row">
            <div class="col-sm-5 col-md-5">
                <img class="img-responsive img-rounded" src="{% static 'base/base.jpg' %}" alt="BASE">
            </div>

            <div class="col-sm-4 col-md-4">
                <h2>
                    <a href="http://www.bioplatforms.com.au/special-initiatives/environment/soil-biodiversity">
                        Biome of Australian Soil Environments</a>
                </h2>

                <div class="list-group">
                    <a class="list-group-item" href="{% url 'base:otusearch' %}">Search</a>
                    <a class="list-group-item" href="{% url 'basecontextual:index' %}">Contextual Data</a>
                    <a class="list-group-item" href="{% url 'basecontextual:samples' %}">Samples in Context</a>
                    <a class="list-group-item" href="{% url 'basecontextual:collectionsites' %}">Sites</a>
                    <a class="list-group-item" href="{% url 'basecontextual:chemicalanalysis' %}">Chemical Analysis</a>
                    <a class="list-group-item" href="{% url 'base_amplicon:all_metadata' %}">Amplicons</a>
                    <a class="list-group-item" href="{% url 'basemetagenomics:samples' %}">Metagenomics</a>
                    <a class="list-group-item" href="{% url 'base454:454samples' %}">454</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
