{% extends "base.html" %}

{% block title %}BASE{% endblock %}

{% load staticfiles %}
{% block content %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "BASE" "index" %}
{% endblock %}

<div class="container-fluid">
    <div class="well">

        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-3">
                <img class="img-responsive img-rounded" src="{% static 'base/base.png' %}" alt="BASE">
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3">

                <h2> Biome of Australian Soil Environments </h2>

                <p>
                    The Biome of Australia Soil Environments (BASE) is a
                    collaborative project to create a public resource containing
                    microbial genome information from a range of Australian soil
                    environments.
                </p>

                <p>
                    Soil along with historical, physical and chemical contextual information
                    (including photos) has been collected from 600+ diverse sites around Australia
                    including Christmas Island and the Australian Antarctic Territory.
                </p>

                <p>
                    DNA is extracted from all samples using a standardised protocol (PowerSoil, MO
                    BIO) and amplicon analysis undertaken using the Illumina MiSeq platform for
                    bacterial 16S, fungal ITS and eukaryotic 18S targets. 
                </p>

                <p>
                    OTU data has been generated through standardised pipelines for each target and
                    is available through this repository.
                </p>

                <p>
                    For more information please visit:
                    <a href="http://www.bioplatforms.com/soil-biodiversity/">
                        http://www.bioplatforms.com/soil-biodiversity
                    </a>
                </p>

            </div>


            <div class="col-sm-4 col-md-3 col-lg-3">

                <div class="list-group">
                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="Search BASE OTU and contextual matrices to identify samples of interest"
                       href="{% url 'base:search' %}">
                        <span class="glyphicon glyphicon-search"></span> Search facility
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="Atlas of Living Australia visualisation tools enabling visualisation of BASE data"
                       href="http://base.ala.org.au/datacheck/datasets">
                        <span><img height="20px;" src="http://www.ala.org.au/wp-content/themes/ala-wordpress-theme/img/supporting-graphic-element-flat.png"/></span>
                        ALA Visualisation Tools
                    </a>

                    <a class="list-group-item"
                       href="{% url 'base_vocabulary:all_vocabularies' %}">
                        Contextual Data Vocabularies
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip" 
                       data-placement="right"
                       title="View an interactive map of all sample locations"
                       href="{% url 'base_contextual:collectionsites' %}">Collection Site Map<span class="badge">{{ site_count }}</span>
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="Browse all site contextual data (may take some time to load)"
                       href="{% url 'base_contextual:samplematrix' %}">Contextual Data Matrix<span class="badge">{{ sample_count }}</span>
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="View methodological metadata pertaining to the sequencing of each sample and amplicon and link to sequencing data for each sample"
                       href="{% url 'base_amplicon:index' %}">Amplicons <span class="badge">{{ amplicon_count }}</span>
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="View methodological metadata pertaining to the sequencing of shotgun metagenomics for each sample and link to sequencing data for each sample"
                       href="{% url 'base_metagenomics:metagenomics' %}">Metagenomics <span class="badge">{{ metagenomics_count }}</span>
                    </a>

                    <a class="list-group-item"
                       data-container="body"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="Link to data collected during initial project phase, prior to migration to illumina"
                       href="{% url 'base_454:454samples' %}">454 <span class="badge">{{ 454_count }}</span>
                    </a>

                    <a class="list-group-item" href="{% url 'base:requestaccess' %}">Request data download access </a>

                    <a class="list-group-item"
                       href="https://downloads.bioplatforms.com/bpa/base/">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                        Downloads
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
 $(function () {
     $('[data-toggle="tooltip"]').tooltip()
 })
</script>
{% endblock %}
