{% extends "base.html" %}
{% block title %}BASE{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h2>BASE Index</h2>

        <div class="list-group">
            <a class="list-group-item" href="{% url 'base:otusearch' %}">OTU Search</a>
            <a class="list-group-item" href="{% url 'basecontextual:index' %}">Contextual Data</a>
            <a class="list-group-item inactive">Amplicon Data</a>
            <a class="list-group-item" href="">Metagenomics</a>
            <a class="list-group-item" href="">454</a>
        </div>
    </div>
{% endblock %}
