{% extends "base.html" %}

{% block title %}Information{% endblock %}

{% load staticfiles %}
{% block content %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "BASE" "base:index" %}
{% breadcrumb "Information" "" %}
{% endblock %}

<div class="container-fluid">
    <div class="well">
        <h2>
            <span class="glyphicon glyphicon-info-sign"> </span> General Methods
        </h2>
        <div class="list-group">
            <a href="https://downloads.bioplatforms.com/base/methods/general/BASE_sample_collection.pdf" class="list-group-item">
                <span class="glyphicon glyphicon-file"></span> Sample Collection
            </a>
            <a href="https://downloads.bioplatforms.com/base/methods/general/DNA_extraction.pdf" class="list-group-item">
                <span class="glyphicon glyphicon-file"></span> DNA Extraction
            </a>
            <a href="https://downloads.bioplatforms.com/base/methods/general/sequence_analysis.pdf" class="list-group-item">
                <span class="glyphicon glyphicon-file"></span> Bioinformatic Analysis
            </a>
            <a href="https://downloads.bioplatforms.com/base/methods/general/BASE_Metagenomics_Protocol.pdf" class="list-group-item">
                <span class="glyphicon glyphicon-file"></span> Metagenomic Sequencing 
            </a>
        </div>
    </div>

    <div class="well">
        <h2>
            <span class="glyphicon glyphicon-info-sign"> </span> Amplicon methods and information
        </h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Amplicon</th>
                    <th><span class="glyphicon glyphicon-download"></span> OTU Tables</th>
                    <th><span class="glyphicon glyphicon-download"></span> OTU Taxonomy</th>
                    <th><span class="glyphicon glyphicon-download"></span> OTU Sequences</th>
                    <th><span class="glyphicon glyphicon-download"></span> Sequencing and analysis methods </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="{% url 'base_amplicon:amplicons_16S' %}">16S</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_16S_OTU.csv.gz">OTU</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_16S_taxonomy.xlsx">Taxonomy</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_16S_OTU.fasta">FASTA</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/methods/16S/16S_method.pdf">Method</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'base_amplicon:amplicons_A16S' %}">A16S</td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_A16S_OTU.csv.gz">OTU</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_A16S_taxonomy.xlsx">Taxonomy</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_A16S_OTU.fasta">FASTA</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/methods/A16S/A16S_method.pdf">Method</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'base_amplicon:amplicons_ITS' %}">ITS</td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_ITS_OTU.csv.gz">OTU</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_ITS_taxonomy.xlsx">Taxonomy</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_ITS_OTU.fasta">FASTA</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/methods/ITS/ITS_method.pdf">Method</a></td>
                </tr>
                <tr>
                    <td><a href="{% url 'base_amplicon:amplicons_18S' %}">18S</td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_18S_OTU.csv.gz">OTU</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_18S_taxonomy.xlsx">Taxonomy</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/amplicons/otu/all/BASE_18S_OTU.fasta">FASTA</a></td>
                    <td><a href="https://downloads.bioplatforms.com/base/methods/18S/18S_method.pdf">Method</a></td>
                </tr>
            </tbody>
        </table>
        <span class="glyphicon glyphicon-download"></span> <a href="https://downloads.bioplatforms.com/base/methods/" > All Methods</a>
    </div>


</div>

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
