{% extends "base.html" %}
{% block title %}BASE{% endblock %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "BASE" "base:index" %}
    {% breadcrumb "Data Access Request" "base:access" %}
{% endblock %}


<div id="contacts">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign"> </span>
        BASE data is publically available.  For administrative purposes
        and to enable us to assess the utility of the database, it's
        frequency of utilisation and the type of use data is being put
        to, we require a "request for access" to be processed.
      </div>
      <form name="sentMessage" class="well" id="contactForm" action="{% url 'base:requestaccess' %}" method="post">
        {% csrf_token %}
        <legend>BASE Data Access Request</legend>
        {{ form | crispy }}

        <div id="success"></div>
        <!-- For success/fail messages -->
        <button type="submit" class="btn btn-primary ">Send</button>
        <br/>
      </form>
    </div>
  </div>
</div>


{% endblock %}
