{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BASE Metagenomic files {% endblock %}

{% block content %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "BASE" "base:index" %}
{% breadcrumb "Metagenomics" "base_metagenomics:metagenomics" %}
{% breadcrumb "Sequence Files" "base_metagenomics:files" %}
{% endblock %}

{% if files %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-1 col-md-1">
            <img class="img-responsive img-rounded" src="{% static 'base_metagenomics/metagenomics.gif' %}"
                                                    alt="BASE Metagenomic Sequence Files">
        </div>

        <div class="col-sm-11 col-md-11">
            <h3><a href="{% url 'base:index' %}">BASE</a> Metagenomic Sequence Files ({{ files|length }})</h3>
            <p><a href="{% url 'base_metagenomics:files_csv'%}"><span class="glyphicon glyphicon-download"></span> CSV Export</a> </p>
            {% include "base_metagenomics/file_table.html" %}
            <p><a href="{% url 'base_metagenomics:files_csv'%}"><span class="glyphicon glyphicon-download"></span> CSV Export</a> </p>
            {% include "pagination.html" %}
        </div>
    </div>
</div>

{% else %}
<h3> No Metagenomic Sequence Files are currently available </h3>
{% endif %}

{% endblock %}
