{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BASE Metagenomics Sample Detail {% endblock %}

{% block content %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "BASE" "base:index" %}
    {% breadcrumb "Metagenomics" "base_metagenomics:samples" %}
    {% breadcrumb sample.bpa_id "base_metagenomics:sample" %}
{% endblock %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-1 col-md-1">
            <img class="img-responsive img-rounded" src="{% static 'base_metagenomics/metagenomics.gif' %}"
                 alt="BASE Metagenomics">
        </div>

        <div class="col-sm-11 col-md-11">

            <div class="panel panel-info">
                <div class="panel-body">
                    <h3>
                        <a href="{% url 'base_metagenomics:samples'%}"> BASE Metagenomics </a> Sample {{ sample.bpa_id }} Information
                    </h3>
                </div>
                <table id="info" class="table table-striped">
                    <tbody>
                    <tr>
                        <td> Sample Name</td>
                        <td> {{ sample.name }}</td>
                    </tr>
                    <tr>
                        <td> DNA Extraction Protocol</td>
                        <td> {{ sample.dna_extraction_protocol }}</td>
                    </tr>
                    <tr>
                        <td> Sequence Coverage</td>
                        <td> {{ sample.requested_sequence_coverage }}</td>
                    </tr>
                    <tr>
                        <td> Note</td>
                        <td> {{ sample.note }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "sequencefilelist.html" %}
</div>
{% endblock %}
