{% extends "base.html" %}
{% load staticfiles %}

{% block title %}BASE Metagenomics Sample Detail {% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-body">
        <h3> BASE Metagenomics Sample {{ sample.bpa_id }} Information</h3>
    </div>
    <table id="info" class="table table-striped">
        <tbody>
        <tr>
            <td> Sample Name</td>
            <td> {{ sample.name }}</td>
        </tr>
        <tr>
            <td> DNA Source</td>
            <td> {{ sample.dna_source }}</td>
        </tr>
        <tr>
            <td> DNA Extraction Protocol</td>
            <td> {{ sample.dna_extraction_protocol }}</td>
        </tr>
        <tr>
            <td> Sequence Coverage</td>
            <td> {{ sample.requested_sequence_coverage }}</td>
        </tr>
        <tr>
            <td> Note</td>
            <td> {{ sample.note }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% include "sequencefilelist.html" %}

{% endblock %}
