<div class="alert alert-info" role="alert">
To sort by multiple columns, press and hold the Shift key.
<div class="bootstrap_buttons"> </div>
</div>

<table class="ccgtable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Metagenomic Count</th>
            <th>Amplicon Count</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Metagenomic Count</th>
            <th>Amplicon Count</th>
        </tr>
    </tfoot>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>
                <a href="{% url 'base_metagenomics:sample' bpa_id=sample.bpa_id %}">{{ sample.bpa_id }}</a>
            </td>
            <td> {{ sample.metagenomics_file_count }} </td>
            <td> {{ sample.amplicon_file_count }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
