{% if sequencefiles %}
<div class="panel panel-info">
    <div class="panel-body">
        <div class="alert alert-info">
            {{ sequencefiles|length }} Related Sequence files available for BPA Sample ID {{ sample.bpa_id }}
        </div>
    </div>

    <table id="sequence-list" class="table table-striped">
        <thead>
            <tr>
                <th>Filename</th>
                <th>MD5</th>
                <th>Extraction</th>
                <th>Run Description</th>
            </tr>
        </thead>
        <tbody>
        {% for sfile in sequencefiles %}
        <tr>
            <td>
                {% if sfile.url_verification.status_ok %}
                <span title="Last checked {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-download"></span>
                <a href="{{ sfile.get_url }}">{{ sfile.filename }}</a>
                {% else %}
                <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-flag"></span>
                {{ sfile.filename }}
                {% endif %}
            </td>
            <td class="md5">{{ sfile.md5 }}</td>
            <td>{{ sfile.extraction }}</td>
            <td>{{ sfile.run|default_if_none:"" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function () {
        $(function () {
            $("#sequence-list").tablesorter();
            });
        });
</script>

{% else %}
<div class="alert alert-warning">
    No Sequence Files currently available for {{ sample.bpa_id}}
</div>
{% endif %}
