{% extends "common/geographic_map.html" %}
{% load leaflet_tags %}

{% block title %}Great Barrier Reef Collection events {% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Marine Microbes" "marine_microbes:index" %}
{% breadcrumb "Marine Microbes" "marine_microbes:sites" %}
{% endblock %}

{% block content %}
{% if sites %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            {% leaflet_map "site_map" callback="BPAM.map_init_list" %}
        </div>
        <div class="col-md-4" id="sitelist-container">
            <div class="panel-heading">
                <h3 class="unstacked">GBR Collection Sites </h3>
            </div>
            <table id="sitelist" class="ccgslimtable" width="100%">
                <thead>
                    <tr>
                        <th class="name">Site Name</th>
                        <th class="lat">Latitude</th>
                        <th class="lng">Longitude</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for site in sites %}
                    <tr>
                        <td class="name">
                            <a href="{% url 'gbr:site' site.pk %}">{{ site.get_name }}</a>
                        </td>
                        <td class="lat">{{ site.lat }}</td>
                        <td class="lng">{{ site.lon }}</td>
                        <td>{{ site.note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<h3> No Marine Microbes collection sites are currently available</h3>
{% endif %}

{% endblock %}
