{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Melanoma Arrays{% endblock %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Melanoma" "melanoma:index" %}
{% breadcrumb "Arrays" "melanoma:arrays" %}
{% endblock %}
{% block content %}
{% if arrays %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>

    <table class="ccgtable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Array ID</th>
                <th>Batch Number</th>
                <th>Well ID</th>
                <th>MIA ID</th>
                <th>Call Rate</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Array ID</th>
                <th>Batch Number</th>
                <th>Well ID</th>
                <th>MIA ID</th>
                <th>Call Rate</th>
                <th>Gender</th>
            </tr>
        </tfoot>
        <tbody>
            {% for array in arrays %}
            <tr>
                <td>
                    <a href="{% url 'melanoma:sample' array.bpa_id %}">{{ array.bpa_id }}</a>
                </td>
                <td>{{ array.array_id }}</td>
                <td>{{ array.batch_number }}</td>
                <td>{{ array.well_id }}</td>
                <td>{{ array.mia_id }}</td>
                <td>{{ array.call_rate }}</td>
                <td>
                    {% if array.is_male %}
                    <img width="20px" src="{% static 'melanoma/male.svg' %}" alt="male">
                    {% elif array.is_female %}
                    <img width="20px" src="{% static 'melanoma/woman.svg' %}" alt="female">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3> No Melanoma Array Data is currently available </h3>
    {% endif %}

    {% endblock %}
</div>
