{% extends "base.html" %}
{% block title %}Melanoma{% endblock %}

{% load staticfiles %}
{% block content %}
<div class="jumbotron">
    <img src="{% static 'melanoma/melanoma.jpg' %}" alt="BASE">


    <h2>
        <a>Melanoma</a>
    </h2>

    <div class="list-group">
        <a class="list-group-item" href="{% url 'melanoma:samples' %}"> Samples</a>
        <a class="list-group-item" href="{% url 'melanoma:sequencefiles' %}"> Sequence Files</a>
        <a class="list-group-item" href="{% url 'melanoma:arrays' %}"> Arrays</a>
    </div>
</div>
{% endblock %}
