{% extends "base.html" %}
{% load staticfiles %}
{% load leaflet_tags %}

{% block title %}Melanoma Sample Detail {% endblock %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-body">
        <h3> Melanoma Sample {{ sample.bpa_id }} Information</h3>
    </div>
    <table id="info" class="table table-striped">
        <tbody>
        <tr>
            <td> Sample Name</td>
            <td> {{ sample.name }}</td>
        </tr>
        <tr>
            <td> Sex</td>
            <td>
                {% if sample.is_male %}
                <img width="20px" src="{% static 'male.svg' %}" alt="BASE">
                {% elif sample.is_female %}
                <img width="20px" src="{% static 'woman.svg' %}" alt="BASE">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td> Tumour Stage</td>
            <td> {{ sample.tumor_stage}}</td>
        </tr>
        <tr>
            <td> Histological Subtype</td>
            <td> {{ sample.histological_subtype}}</td>
        </tr>
        <tr>
            <td> DNA Source</td>
            <td> {{ sample.dna_source }}</td>
        </tr>
        <tr>
            <td> DNA Extraction Protocol</td>
            <td> {{ sample.dna_extraction_protocol }}</td>
        </tr>
        <tr>
            <td> Sequence Coverage</td>
            <td> {{ sample.requested_sequence_coverage }}</td>
        </tr>
        <tr>
            <td> Contact Scientist</td>
            <td> {{ sample.contact_scientist }}</td>
        </tr>
        <tr>
            <td> Note</td>
            <td> {{ sample.note }}</td>
        </tr>
        </tbody>
    </table>
</div>

{% if sequencefiles %}
<div class="panel panel-info">
    <div class="panel-body"> {{ sequencefiles|length }} Related Sequence files </div>

    <table id="sequence-list" class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Filename</th>
            <th>MD5</th>
            <th>Run Date</th>
            <th>Run Description</th>
        </tr>
        </thead>
        <tbody>
        {% for sfile in sequencefiles %}
        <tr>
            <td>
                {% if sfile.url_verification.status_ok %}
                    <span title="Last checked {{ sfile.url_verification.checked_at }}"
                          class="glyphicon glyphicon-download"></span>
                {% else %}
                    <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}"
                          class="glyphicon glyphicon-flag"></span>
                {% endif %}
            </td>
            <td><a href="{{ sfile.get_url }}">{{ sfile.filename }}</a></td>
            <td>{{ sfile.md5 }}</td>
            <td>{{ sfile.date_received_from_sequencing_facility }}</td>
            <td>{{ sfile.run }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $(function () {
            $("#sequence-list").tablesorter();
        });
    });
</script>

{% else %}
<div class="alert alert-warning">
    No Sequence Files currently available for {{ sample.bpa_id}}
</div>
{% endif %}


{% endblock %}

