
<table id="sequence-list" class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>BPA ID</th>
        <th>Filename</th>
        <th>MD5</th>
        <th>Sample Name</th>
        <th>Run Date</th>
        <th>Run Description</th>
    </tr>
    </thead>
    <tbody>
    {% for sfile in sequencefiles %}
        <tr>
            <td>
                {% if sfile.url_verification.status_ok %}
                    <span title="Last checked {{ sfile.url_verification.checked_at }}"
                          class="glyphicon glyphicon-ok"></span>
                {% else %}
                    <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}"
                          class="glyphicon glyphicon-remove"></span>
                {% endif %}
            </td>
            <td>{{ sfile.sample.bpa_id }}</td>
            <td><a href="{{ sfile.get_url }}">{{ sfile.filename }}</a></td>
            <td>{{ sfile.md5 }}</td>
            <td>{{ sfile.sample.name }}</td>
            <td>{{ sfile.date_received_from_sequencing_facility }}</td>
            <td>{{ sfile.run }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<ul class="pagination pagination-centered">
    {% if page_obj.has_previous %}
    <li><a href="?page=1"><<</a></li>
    <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in paginator.page_range %}
    <li
    {% if page_obj.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
    <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>
{% endif %}


<script>
    $(document).ready(function () {
        $(function () {
            $("#sequence-list").tablesorter();
        });
    });
</script>

