{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Melanoma" "melanoma:index" %}
{% breadcrumb "Sequence Files" "melanoma:sequencefiles" %}
{% endblock %}

{% block title %}Melanoma Listing{% endblock %}

{% block content %}
{% if sequencefiles %}
<h3>Melanoma Sequence Files</h3>

<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons"> </div>
</div>
<table class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Filename</th>
            <th>MD5</th>
            <th>Sample Name</th>
            <th>Run Description</th>
        </tr>
    </thead>
    <tbody>
        {% for sfile in sequencefiles %}
        <tr>
            <td> <a href="{% url 'melanoma:sample' sfile.sample.bpa_id %}">{{ sfile.sample.bpa_id }}</a> </td>
            <td>
                {% if sfile.url_verification.status_ok %}
                <span title="Last checked {{ sfile.url_verification.checked_at }}"
                      class="glyphicon glyphicon-download"></span>
                {% else %}
                <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}"
                      class="glyphicon glyphicon-flag"></span>
                {% endif %}
                <a href="{{ sfile.get_url }}">{{ sfile.filename }}</a></td>
            <td class="md5">{{ sfile.md5 }}</td>
            <td>{{ sfile.sample.name }}</td>
            <td>{{ sfile.run }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Filename</th>
            <th>MD5</th>
            <th>Sample Name</th>
            <th>Run Description</th>
        </tr>
    </tfoot>
</table>

{% else %}
<h3> No Melanoma Sequence Data is currently available </h3>
{% endif %}

{% endblock %}
