{% extends "base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb "Melanoma" "melanoma:index" %}
{% breadcrumb "Sequence Files" "melanoma:sequencefiles" %}
{% endblock %}

{% block title %}Melanoma Sequence Files{% endblock %}

{% block content %}
{% if sequencefiles %}

<div class="container-fluid">
    <div class="alert alert-info" role="alert">
        To sort by multiple columns, press and hold the Shift key.
        <div class="bootstrap_buttons"> </div>
    </div>
    <table class="ccgtable" width="100%">
        <thead>
            <tr>
                <th>BPA ID</th>
                <th>Filename</th>
                <th>MD5</th>
                <th>Sample Name</th>
                <th>Run Description</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>BPA ID</th>
                <th>Filename</th>
                <th>MD5</th>
                <th>Sample Name</th>
                <th>Run Description</th>
            </tr>
        </tfoot>
        <tbody>
            {% for sfile in sequencefiles %}
            <tr>
                <td> <a href="{% url 'melanoma:sample' sfile.sample.bpa_id %}">{{ sfile.sample.bpa_id }}</a> </td>
                <td>
                    {% if sfile.url_verification.status_ok %}
                    <span title="Last checked {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-download"></span>
                    <a href="{{ sfile.get_url }}">{{ sfile.filename }}</a>
                    {% else %}
                    <span title="Error {{ sfile.url_verification.status_note }} at {{ sfile.url_verification.checked_at }}" class="glyphicon glyphicon-flag"></span>
                    {{ sfile.filename }}
                    {% endif %}
                </td>
                <td class="md5">{{ sfile.md5 }}</td>
                <td>{{ sfile.sample.name }}</td>
                <td>{{ sfile.run }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <h3> No Melanoma Sequence Data is currently available </h3>
    {% endif %}

    {% endblock %}

</div>
