{% load staticfiles %}
<div class="alert alert-info" role="alert">
    To sort by multiple columns, press and hold the Shift key.
    <div class="bootstrap_buttons">
        <button type="button" class="reset btn" data-column="0" data-filter="">
            <i class="icon-white icon-refresh glyphicon glyphicon-refresh"></i>
            Reset filters
        </button>
    </div>
</div>
<table class="fancytable">
    <thead>
        <tr>
            <th>BPA ID</th>
            <th>Sample Name</th>
            <th>Tumour Stage</th>
            <th>Sequence Coverage</th>
            <th>Sex</th>
            <th>DNA Source</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in samples %}
        <tr>
            <td>
                <a href="{% url 'melanoma:sample' sample.bpa_id %}">{{ sample.bpa_id }}</a>
            </td>
            <td>{{ sample.name }}</td>
            <td>{{ sample.tumor_stage }}</td>
            <td>{{ sample.requested_sequence_coverage }}</td>
            <td>
                {% if sample.is_male %}
                <img width="20px" src="{% static 'melanoma/male.svg' %}" alt="BASE">
                {% elif sample.is_female %}
                <img width="20px" src="{% static 'melanoma/woman.svg' %}" alt="BASE">
                {% endif %}
            </td>
            </td>
            <td>{{ sample.dna_source }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>BPA ID</th>
            <th>Sample Name</th>
            <th>Tumour Stage</th>
            <th>Sequence Coverage</th>
            <th>Sex</th>
            <th>DNA Source</th>
        </tr>
        <tr>
            <th colspan="6" class="ts-pager form-horizontal">
                <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
                <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
                <span class="pagedisplay"></span>
                <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
                <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
                <select class="pagesize input-mini" title="Select page size">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option selected="selected" value="40">40</option>
                </select>
                <select class="pagenum input-mini" title="Select page number"></select>
            </th>
        </tr>
    </tfoot>
</table>
