.leaflet-container {
    /* all maps */
    width: 800px;
    height: 500px;
}

#specialbigmap {
    height: 800px;
}

.leaflet-popup-content .site-popup-table {
    max-height: 300px;
    overflow: scroll;
}
